<div class="nested-fields">
	<blockquote id="intervenants">
  <div class="form-inline">
    <%= f.text_field :nom, data: {autocomplete_source: Intervenant.where.not("nom LIKE ?", "%/%").order(:nom).map(&:nom)}, class: 'form-control intervenant-nom' %>
    <%= link_to_remove_association "Retirer", f, class: 'btn btn-danger' %>
  </div>
</blockquote>
  <hr>
</div>