<% # Listes villes parcourues et usagers rencontrés %>
<% rencontres = Rencontre.where(date: maraude.date, type_renc: maraude.type_maraude, prev: false, dnv: false, tel: false) %>
<% m_renc = [] %>
<% rencontres.each do |r| %>
  <% u = Usager.find_by(id: r.usager_id) %>
  <% m_renc << "#{r.ville} @#{u.sexe} #{u.nom} #{u.prenom}" %>
  <% if u.couple %>
    <% m_renc.last << ", #{u.sexe2} #{u.nom2} #{u.prenom2}" %>
  <% end %>

  <% if u.enfants.any? %>
    <% m_renc.last << " et #{pluralize(r.nb_enf, "enfant")}" %>
  <% end %>
<% end %>
<% arr = m_renc.sort %>
<% liste_villes_ok = [] %>
<% liste_usagers = [] %>
<% (0..(arr.length-1)).each do |i| %>
  <% ville = arr[i].split(' @').first %>
  <% usager = arr[i].split(' @').last %>
  <% if liste_villes_ok.last == "#{ville}" %>
    <% liste_usagers.last << "   - #{usager}\n" %>
  <% else %>
    <% liste_villes_ok << "#{ville}" %>
    <% liste_usagers << "   - #{usager}\n" %>
  <% end %>
<% end %>
<% disp_renc = "" %>
<% (0..(liste_villes_ok.length-1)).each do |n| %>
  <% disp_renc << "#{liste_villes_ok[n].upcase} :\n#{liste_usagers[n]}\n" %>
<% end %>


<% # Listes des dnv %>
<% dnv = Rencontre.where(date: maraude.date, type_renc: maraude.type_maraude, prev: false, dnv: true) %>
<% m_dnv = [] %>
<% dnv.each do |r| %>
  <% u = Usager.find_by(id: r.usager_id) %>
  <% m_dnv << "#{r.ville} @#{u.sexe} #{u.nom} #{u.prenom}" %>
  <% if u.couple %>
    <% m_dnv.last << "et #{u.sexe2} #{u.nom2} #{u.prenom2}" %>
  <% end %>
<% end %>
<% arr = m_dnv.sort %>
<% liste_villes_dnv = [] %>
<% liste_usagers = [] %>
<% (0..(arr.length-1)).each do |i| %>
  <% ville = arr[i].split(' @').first %>
  <% usager = arr[i].split(' @').last %>
  <% if liste_villes_dnv.last == "#{ville}" %>
    <% liste_usagers.last << "   - #{usager}\n" %>
  <% else %>
    <% liste_villes_dnv << "#{ville}" %>
    <% liste_usagers << "   - #{usager}\n" %>
  <% end %>
<% end %>


<% # Liste des déroutages %>
<% der = "" %>
<% (0..(liste_villes_ok.length-1)).each do |i| %>
  <% if !maraude.villes.include?("#{liste_villes_ok[i]}") %>
    <% der << "#{liste_villes_ok[i]}\n" %>
  <% end %>
<% end %>
<% (0..(liste_villes_dnv.length-1)).each do |i| %>
  <% if !maraude.villes.include?("#{liste_villes_dnv[i]}") %>
    <% der << "#{liste_villes_dnv[i]}\n" unless der.include?("#{liste_villes_dnv[i]}") %>
  <% end %>
<% end %>
<% der = der.split("\n").sort.join("\n") %>


<% # Liste des signalements %>
<% sigs = Rencontre.where(date: maraude.date, type_renc: maraude.type_maraude, signale: true) %>
<% m_sig = [] %>
<% sigs.each do |r| %>
  <% u = Usager.find_by(id: r.usager_id) %>
  <% m_sig << "#{r.ville} @#{u.sexe} #{u.nom} #{u.prenom}" %>

  <% if u.couple %>
    <% m_sig.last << ", #{u.sexe2} #{u.nom2} #{u.prenom2}" %>
  <% end %>

  <% if u.enfants.any? %>
    <% m_sig.last << " et #{pluralize(r.nb_enf, "enfant")}" %>
  <% end %>
<% end %>
<% arr = m_sig.sort %>
<% liste_villes = [] %>
<% liste_usagers = [] %>
<% (0..(arr.length-1)).each do |i| %>
  <% ville = arr[i].split(' @').first %>
  <% usager = arr[i].split(' @').last %>
  <% if liste_villes.last == "#{ville}" %>
    <% liste_usagers.last << "   - #{usager}\n" %>
  <% else %>
    <% liste_villes << "#{ville}" %>
    <% liste_usagers << "   - #{usager}\n" %>
  <% end %>
<% end %>
<% disp_sig = "" %>
<% (0..(liste_villes.length-1)).each do |n| %>
  <% disp_sig << "#{liste_villes[n].upcase} :\n#{liste_usagers[n]}\n" %>
<% end %>


<% # Liste des accompagnements %>
<% accomps = Rencontre.where(date: maraude.date, type_renc: maraude.type_maraude, accomp: true) %>
<% m_accomp = [] %>
<% accomps.each do |r| %>
  <% u = Usager.find_by(id: r.usager_id) %>
  <% m_accomp << "#{r.ville} @#{u.sexe} #{u.nom} #{u.prenom}" %>
  <% if u.couple %>
    <% m_accomp.last << ", #{u.sexe2} #{u.nom2} #{u.prenom2}" %>
  <% end %>
  <% if u.enfants.any? %>
    <% m_accomp.last << " et #{pluralize(r.nb_enf, "enfant")}" %>
  <% end %>
<% end %>
<% arr = m_accomp.sort %>
<% liste_villes = [] %>
<% liste_usagers = [] %>
<% (0..(arr.length-1)).each do |i| %>
  <% ville = arr[i].split(' @').first %>
  <% usager = arr[i].split(' @').last %>
  <% if liste_villes.last == "#{ville}" %>
    <% liste_usagers.last << "   - #{usager}\n" %>
  <% else %>
    <% liste_villes << "#{ville}" %>
    <% liste_usagers << "   - #{usager}\n" %>
  <% end %>
<% end %>
<% disp_accomp = "" %>
<% (0..(liste_villes.length-1)).each do |n| %>
  <% disp_accomp << "#{liste_villes[n].upcase} :\n#{liste_usagers[n]}\n" %>
<% end %>


<tr id="maraude">
  <td>
    <% if maraude.explo %>
      <%= link_to "#{maraude.type_maraude} (exploratoire)", "/maraudes/show/#{maraude.id}", class: "lead" %><br>
    <% else %>
      <%= link_to "#{maraude.type_maraude}", "/maraudes/show/#{maraude.id}", class: "lead" %><br>
    <% end %>
    <%= link_to "#{maraude.date.strftime("%d/%m/%y")}", "/maraudes/show/#{maraude.id}", class: "lead" %><br>
    <% if maraude.intervenants.any? %>
      <% maraude.intervenants.each do |int| %>
        <%= "/ #{int.nom} /" %>
      <% end %>
    <% end %>

    <% villes = maraude.villes.split("\n") %>
    <% (0..(villes.length-1)).each do |i| %>
      <% if liste_villes_ok.include?("#{villes[i]}") || liste_villes_dnv.include?("#{villes[i]}") %>
        <% villes[i] << " ☑" %>
      <% else %>
        <% villes[i] << " ☐" %>
      <% end %>
    <% end %>
    <pre class="maraude-list"><%= villes.join("\n") %></pre>

    <% if !der.empty? && !maraude.villes.empty? %>
      Déroutage(s) : <pre class="maraude-list"><%= der %></pre>
    <% end %>

    <%= link_to "Modifier villes, intervenants et commentaires", "/maraudes/edit/#{maraude.id}" %>
  </td>
  <td>
    <pre class="maraude-list text-justify"><%= disp_renc %></pre>
  </td>
  <td>
    <% if disp_sig.present? %>
      <p class="lead">Signalements</p>
      <pre class="maraude-list text-justify"><%= disp_sig %></pre>
    <% end %>

    <% if disp_accomp.present? %>
      <p class="lead">Accompagnements</p>
      <pre class="maraude-list text-justify"><%= disp_accomp %></pre>
    <% end %>
  </td>
</tr>