<%= javascript_include_tag 'application', 'data-turbolinks-track' => :reload %>
<h1><%= @maraude.type_maraude %> du <%= @maraude.date.strftime("%d/%m/%y") %></h1>

<%= form_for(@maraude, url: "/maraudes/edit/#{@maraude.id}", method: :post) do |f| %>

<h3>Intervenants</h3>
  
  <ul id="intervenants">
     <%= f.simple_fields_for :intervenants do |interv| %>
        <li><%= render 'intervenant_fields', f: interv %></li>
     <% end %>

     <%= link_to_add_association 'Ajouter un intervenant', f, :intervenants, class: 'btn btn-info links' %>

  </ul>

<h3>Commentaires</h3>

<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 form-horizontal">
    <div class="form-group">
      <div class="col-md-9 col-sm-9 col-xs-9">
        <%= f.text_field :cr, class: 'form-control' %>
      </div>
    </div>
  </div>
</div>

<hr>

<h3>Villes théoriquement parcourues</h3>

  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-4">
      <% for ville in @villes[0..((@villes.length/3).floor)-1] do %>
        <% if @maraude.villes.split("\n").include?("#{ville.first}") %>
          <%= f.check_box :villes, { :multiple => true, :checked => true }, "#{ville.first}" %>
          <%= ville.first %><br>
        <% else %>
          <%= f.check_box :villes, { :multiple => true, :checked => false }, "#{ville.first}" %>
          <%= ville.first %><br>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
      <% for ville in @villes[((@villes.length/3).floor)..(((@villes.length/3)*2).floor-1)] do %>
        <% if @maraude.villes.split("\n").include?("#{ville.first}") %>
          <%= f.check_box :villes, { :multiple => true, :checked => true }, "#{ville.first}" %>
          <%= ville.first %><br>
        <% else %>
          <%= f.check_box :villes, { :multiple => true, :checked => false }, "#{ville.first}" %>
          <%= ville.first %><br>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
      <% for ville in @villes[(((@villes.length/3).floor)*2)..(@villes.length - 1)] do %>
        <% if @maraude.villes.split("\n").include?("#{ville.first}") %>
          <%= f.check_box :villes, { :multiple => true, :checked => true }, "#{ville.first}" %>
          <%= ville.first %><br>
        <% else %>
          <%= f.check_box :villes, { :multiple => true, :checked => false }, "#{ville.first}" %>
          <%= ville.first %><br>
        <% end %>
      <% end %>
    </div>
  </div>

  <br>

  <div class="text-center">
    <%= f.submit "Valider", class: "btn btn-primary" %>
  </div>
<% end %>
