<h1>
  Index des maraudes
   <br><%= link_to "Nouvelle maraude", "/maraudes/new", class: "btn btn-info" %>
</h1>

<%= will_paginate %>

<%= form_tag(maraudes_path, :method => "get", id: "search-form", role: 'search', class: "navbar navbar-search") do %>
  <div class="form-group col-md-4 col-sm-4 col-xs-4">
    <%= text_field_tag :search, params[:search], placeholder: "Rechercher des maraudes", class: 'form-control' %>
  </div>
  <%= submit_tag "Rechercher", class: 'btn btn-default' %>
<% end %>

<h4 class="text-right"><%= pluralize(@maraudes.count, "maraude") %></h4>

<% if !@maraudes.empty? %>
  <table class="maraudes table table-responsive table-hover">
    <tr id="table_head">
      <th>Maraude</th>
	  <th>Rencontres</th>
	  <th>Signalements et accompagnements</th>
    </tr>
    <%= render @maraudes %>
  </table>
<% else %>
	<p class="lead text-center">Aucune maraude correspondant au(x) terme(s) : "<%= params[:search] %>".</p>
<% end %>

<%= will_paginate %>
