<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<h1>Nouvelle maraude</h1>

<h4>On renseignera la date et le type de la maraude.</h4>

<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
    <%= simple_form_for(Maraude.new, url: "/maraudes/new", method: "post") do |f| %>

		<div class="form-horizontal">
		<div class="part part-hover">
			<div class="form-group">
				<%= f.label :date, class: "control-label col-md-3 col-sm-3 col-xs-3" %>
				<div class="col-md-9 col-sm-9 col-xs-9 input-group date" id="datepicker">
					<%= f.text_field :date, class: 'form-control', data: { date_format: 'DD/MM/YYYY', locale: 'fr' } %>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
				</div>
			</div>
			<div class="form-group">
			    <%= f.label :type_maraude, "Type de maraude", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
			    <div class="col-md-9 col-sm-9 col-xs-9">
			      <%= f.select :type_maraude, @types, prompt: "Choisissez un type de maraude", class: 'form-control' %>
			    </div>
			</div>
			<div class="form-group">
			    <div class="form-group text-center form-inline col-md-8 col-sm-8 col-xs-8">
					<%= f.check_box :explo, checked: false, class: "form-control" %>
					<%= f.label :explo, "Maraude exploratoire" %>
				</div>
			</div>
			<div class="form-group text-center">
				<%= f.submit "Créer la maraude", class: "btn btn-primary" %>
			</div>
		</div>
		</div>
	<% end %>
  </div>
</div>
