<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<h1> <%= @varr %> </h1>
<h1>
  <% if @maraude.explo %>
     <%= @maraude.type_maraude %> [<%= @maraude.date.strftime("%d/%m/%y") %>] (exploratoire)
    <% else %>
      <%= @maraude.type_maraude %> [<%= @maraude.date.strftime("%d/%m/%y") %>]
    <% end %>
  <% if @maraude.intervenants.any? %>
    <br><small>
      <% @maraude.intervenants.each do |int| %>
        <%= "/ #{int.nom} /" %>
      <% end %>
    </small>
  <% end %>
</h1>



<% # Listes villes parcourues et usagers rencontrés %>
<% rencontres = Rencontre.where(date: @maraude.date, type_renc: @maraude.type_maraude, prev: false, dnv: false, tel: false) %>
<% m_renc = [] %>
<% rencontres.each do |r| %>
  <% u = Usager.find_by(id: r.usager_id) %>
  <% m_renc << "#{r.ville} @#{u.sexe} #{u.nom} #{u.prenom}" %>
  <% if u.couple %>
    <% m_renc.last << ", #{u.sexe2} #{u.nom2} #{u.prenom2}" %>
  <% end %>
  <% if u.enfants.any? %>
    <% m_renc.last << " et #{pluralize(r.nb_enf, "enfant")}" %>
  <% end %>
<% end %>
<% arr = m_renc.sort %>
<% liste_villes_ok = [] %>
<% liste_usagers = [] %>
<% (0..(arr.length-1)).each do |i| %>
  <% ville = arr[i].split(' @').first %>
  <% usager = arr[i].split(' @').last %>
  <% if liste_villes_ok.last == "#{ville}" %>
    <% liste_usagers.last << "   - #{usager}\n" %>
  <% else %>
    <% liste_villes_ok << "#{ville}" %>
    <% liste_usagers << "   - #{usager}\n" %>
  <% end %>
<% end %>
<% disp_renc = "" %>
<% (0..(liste_villes_ok.length-1)).each do |n| %>
  <% disp_renc << "#{liste_villes_ok[n].upcase} :\n#{liste_usagers[n]}\n" %>
<% end %>


<% # Listes des dnv %>
<% dnv = Rencontre.where(date: @maraude.date, type_renc: @maraude.type_maraude, prev: false, dnv: true) %>
<% m_dnv = [] %>
<% dnv.each do |r| %>
  <% u = Usager.find_by(id: r.usager_id) %>
  <% m_dnv << "#{r.ville} @#{u.sexe} #{u.nom} #{u.prenom}" %>
  <% if u.couple %>
    <% m_dnv.last << ", #{u.sexe2} #{u.nom2} #{u.prenom2}" %>
  <% end %>
<% end %>
<% arr = m_dnv.sort %>
<% liste_villes_dnv = [] %>
<% liste_usagers = [] %>
<% (0..(arr.length-1)).each do |i| %>
  <% ville = arr[i].split(' @').first %>
  <% usager = arr[i].split(' @').last %>
  <% if liste_villes_dnv.last == "#{ville}" %>
    <% liste_usagers.last << "   - #{usager}\n" %>
  <% else %>
    <% liste_villes_dnv << "#{ville}" %>
    <% liste_usagers << "   - #{usager}\n" %>
  <% end %>
<% end %>
<% disp_dnv = "" %>
<% (0..(liste_villes_dnv.length-1)).each do |n| %>
  <% disp_dnv << "#{liste_villes_dnv[n].upcase} :\n#{liste_usagers[n]}\n" %>
<% end %>


<% # Liste des déroutages %>
<% der = "" %>
<% (0..(liste_villes_ok.length-1)).each do |i| %>
  <% if !@maraude.villes.include?("#{liste_villes_ok[i]}") %>
    <% der << "#{liste_villes_ok[i]}\n" %>
  <% end %>
<% end %>
<% (0..(liste_villes_dnv.length-1)).each do |i| %>
  <% if !@maraude.villes.include?("#{liste_villes_dnv[i]}") %>
    <% der << "#{liste_villes_dnv[i]}\n" unless der.include?("#{liste_villes_dnv[i]}") %>
  <% end %>
<% end %>
<% der = der.split("\n").sort.join("\n") %>


<% # Liste des signalements %>
<% sigs = Rencontre.where(date: @maraude.date, type_renc: @maraude.type_maraude, signale: true) %>
<% m_sig = [] %>
<% sigs.each do |r| %>
  <% u = Usager.find_by(id: r.usager_id) %>
  <% m_sig << "#{r.ville} @#{u.sexe} #{u.nom} #{u.prenom}" %>
  <% if u.couple %>
    <% m_sig.last << ", #{u.sexe2} #{u.nom2} #{u.prenom2}" %>
  <% end %>
  <% if u.enfants.any? %>
    <% m_sig.last << " et #{pluralize(r.nb_enf, "enfant")}" %>
  <% end %>
<% end %>
<% arr = m_sig.sort %>
<% liste_villes = [] %>
<% liste_usagers = [] %>
<% (0..(arr.length-1)).each do |i| %>
  <% ville = arr[i].split(' @').first %>
  <% usager = arr[i].split(' @').last %>
  <% if liste_villes.last == "#{ville}" %>
    <% liste_usagers.last << "   - #{usager}\n" %>
  <% else %>
    <% liste_villes << "#{ville}" %>
    <% liste_usagers << "   - #{usager}\n" %>
  <% end %>
<% end %>
<% disp_sig = "" %>
<% (0..(liste_villes.length-1)).each do |n| %>
  <% disp_sig << "#{liste_villes[n].upcase} :\n#{liste_usagers[n]}\n" %>
<% end %>


<% # Liste des accompagnements %>
<% accomps = Rencontre.where(date: @maraude.date, type_renc: @maraude.type_maraude, accomp: true) %>
<% m_accomp = [] %>
<% accomps.each do |r| %>
  <% u = Usager.find_by(id: r.usager_id) %>
  <% m_accomp << "#{r.ville} @#{u.sexe} #{u.nom} #{u.prenom}" %>
  <% if u.couple %>
    <% m_accomp.last << ", #{u.sexe2} #{u.nom2} #{u.prenom2}" %>
  <% end %>
  <% if u.enfants.any? %>
    <% m_accomp.last << " et #{pluralize(r.nb_enf, "enfant")}" %>
  <% end %>
<% end %>
<% arr = m_accomp.sort %>
<% liste_villes = [] %>
<% liste_usagers = [] %>
<% (0..(arr.length-1)).each do |i| %>
  <% ville = arr[i].split(' @').first %>
  <% usager = arr[i].split(' @').last %>
  <% if liste_villes.last == "#{ville}" %>
    <% liste_usagers.last << "   - #{usager}\n" %>
  <% else %>
    <% liste_villes << "#{ville}" %>
    <% liste_usagers << "   - #{usager}\n" %>
  <% end %>
<% end %>
<% disp_accomp = "" %>
<% (0..(liste_villes.length-1)).each do |n| %>
  <% disp_accomp << "#{liste_villes[n].upcase} :\n#{liste_usagers[n]}\n" %>
<% end %>


<div id="accordion">

  <h3>Villes</h3>

  <div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <% if @maraude.villes.present? %>
          <% villes = @maraude.villes.split("\n") %>
          <% (0..(villes.length-1)).each do |i| %>
            <% if liste_villes_ok.include?("#{villes[i]}") || liste_villes_dnv.include?("#{villes[i]}") %>
              <% villes[i] << " ☑ " %>
            <% else %>
              <% villes[i] << " ☐ " %>
            <% end %>
          <% end %>
          <p class="lead">Villes parcourues</p>
          <pre class="maraude-list"><%= villes.join("\n") %></pre>
        <% else %>
          <p class="lead">Pas de villes renseignées</p>
        <% end %>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <% if !der.empty? && !@maraude.villes.empty? %>
          <p class="lead">Déroutages</p>
          <pre class="maraude-list"><%= der %></pre>
        <% else %>
          <p class="lead">Pas de déroutages</p>
        <% end %>
      </div>
    </div>
    <div class="text-right">
      <%= link_to "Modifier villes, intervenants et commentaires", "/maraudes/edit/#{@maraude.id}", class: 'btn btn-info' %>
    </div>
  </div>



  <h3>Interventions</h3>

  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-3">
      <% if disp_renc.empty? %>
        <p class="lead">Pas de rencontres</p>
      <% else %>
        <p class="lead">Rencontres</p>
        <pre class="pre-scrollable maraude-list text-justify"><%= disp_renc %></pre>
      <% end %>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3">
      <% if disp_dnv.empty? %>
        <p class="lead">Pas de personnes non vues sur déplacement</p>
      <% else %>
        <p class="lead">Personnes non vues sur déplacement</p>
        <pre class="pre-scrollable maraude-list text-justify"><%= disp_dnv %></pre>
      <% end %>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3">
      <% if disp_sig.empty? %>
        <p class="lead">Pas de signalements</p>
      <% else %>
        <p class="lead">Signalements</p>
        <pre class="pre-scrollable maraude-list text-justify"><%= disp_sig %></pre>
      <% end %>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3">
      <% if disp_accomp.empty? %>
        <p class="lead">Pas d'accompagnements</p>
      <% else %>
        <p class="lead">Accompagnements</p>
        <pre class="pre-scrollable maraude-list text-justify"><%= disp_accomp %></pre>
      <% end %>
    </div>
  </div>


  <h3>Statistiques</h3>

  <div>
    <h5>
      Entre parenthèses : (Nb d'hommes/Nb de femmes ; Nb d'enfants)<br>
      Pour les prestations : Alimentaire/Vestiaire/Duvet/Hygiène
    </h5>

    <table class="table table-responsive text-center">
      <tr>
        <th>Nb villes parcourues/prévues</th>
        <th>Nb déroutages</th>
        <th>Nb ménages rencontrés</th>
        <th>Nb ménages non vus sur déplacement</th>
        <th>Nb signalements</th>
        <th>Nb signalements non vus</th>
        <th>Nb accompagnements</th>
        <th>Nb prestations</th>
      </tr>
      <tr>
        <td>
          <% if villes.present? %>
            <%= villes.join("\n").split("☑").length - 1 %>
          <% else %>
            0
          <% end %>
           / <%= @maraude.villes.split("\n").length %>
        </td>
        
        <td><%= der.split("\n").length %></td>
        
        <td>
          <%= Rencontre.where(date: @maraude.date, type_renc: @maraude.type_maraude, prev: false, dnv: false, tel: false).count %>
        </td>
        
        <td>
          <%= Rencontre.where(date: @maraude.date, type_renc: @maraude.type_maraude, prev: false, dnv: true).count %>
        </td>
        
        <td>         
          <%= Rencontre.where(date: @maraude.date, type_renc: @maraude.type_maraude, signale: true).count %>
        </td>

        <td>          
          <%= Rencontre.where(date: @maraude.date, type_renc: @maraude.type_maraude, signale: true, dnv: true).count %>
        </td>
        
        <td>      
          <%= Rencontre.where(date: @maraude.date, type_renc: @maraude.type_maraude, accomp: true).count %>
        </td>

        <td>
          <% a = 0 %>
          <% v = 0 %>
          <% d = 0 %>
          <% h = 0 %>
          <% renc = Rencontre.where(date: @maraude.date, type_renc: @maraude.type_maraude, prev: false, dnv: false, tel:false) %>
          <% renc.each do |r| %>
                <% a += r.nb_alimentaire %>           
                <% v += r.nb_vestiaire %>             
                <% d += r.nb_duvet %>
                <% h += r.nb_hygiene %>
          <% end %>
         
          <% if a+v+d+h == 0 %>
            0
          <% else %>
            <%= "#{a}/#{v}/#{d}/#{h}" %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>

</div>

<hr>

  <% # Listes villes parcourues et usagers rencontrés avec détails %>
  <% rencontres = Rencontre.where(date: @maraude.date, type_renc: @maraude.type_maraude, prev: false) %>
  <% m_cr = [] %>
  <% rencontres.each do |r| %>
    <% u = Usager.find_by(id: r.usager_id) %>
    <% m_cr << "#{r.ville} @#{u.sexe} #{u.nom} #{u.prenom}" %>
    <% if u.couple %>
      <% m_cr.last << ", #{u.sexe2} #{u.nom2} #{u.prenom2}" %>
    <% end %>
    <% if u.enfants.any? %>
      <% m_cr.last << " et #{pluralize(r.nb_enf, "enfant")}" %>
    <% end %>
    <% if r.signale && r.signalement.present? %>
      <% m_cr.last << " [#{r.signalement}]" %>
    <% end %>
    <% if r.accomp && r.type_accomp.present? %>
      <% m_cr.last << " [#{r.type_accomp}]" %>
    <% end %>
    <% if r.dnv %>
      <% m_cr.last << " [Maraude déplacée mais personne non vue]" %>
    <% end %>
    <% if r.tel %>
      <% m_cr.last << " [Joint au téléphone]" %>
    <% end %>

    <% etat_prestat = "" %>

    <% if r.nb_alimentaire > 0 %>
        <% etat_prestat << "#{r.nb_alimentaire} alimentaire" %>
    <% end %>
    <% if r.nb_vestiaire > 0 %>
        <% if !etat_prestat.empty? %>
          <% etat_prestat << " - " %>
        <% end %>
        <% etat_prestat << "#{r.nb_vestiaire} vestiaire" %>
    <% end %>
    <% if r.nb_hygiene > 0 %>
        <% if !etat_prestat.empty? %>
          <% etat_prestat << " - " %>
        <% end %>
        <% etat_prestat << "#{r.nb_hygiene} hygiene" %>
    <% end %>
    <% if r.nb_duvet > 0 %>
        <% if !etat_prestat.empty? %>
          <% etat_prestat << " - " %>
        <% end %>
        <% etat_prestat << "#{r.nb_duvet} duvet" %>
    <% end %>
     
    <% if etat_prestat.present? %>
      <% m_cr.last << " {#{etat_prestat}}" %>
    <% end %>
    <% if r.details.present? %>
      <% m_cr.last << " : #{r.details}" %>
    <% end %>
  <% end %>
  <% arr = m_cr.sort %>
  <% liste_villes = [] %>
  <% liste_usagers = [] %>
  <% (0..(arr.length-1)).each do |i| %>
    <% ville = arr[i].split(' @').first %>
    <% usager = arr[i].split(' @').last %>
    <% if liste_villes.last == "#{ville}" %>
      <% liste_usagers.last << "   - #{usager}\n" %>
    <% else %>
      <% liste_villes << "#{ville}" %>
      <% liste_usagers << "   - #{usager}\n" %>
    <% end %>
  <% end %>
  <% disp = "COMPTE-RENDU DE MARAUDE\n" %>
  <% disp << "#{@maraude.type_maraude} [#{@maraude.date.strftime("%d/%m/%y")}]\n" %>
  <%if @maraude.cr %>
    <% disp << "#{@maraude.cr} \n" %>
  <% end %>
  <% if @maraude.intervenants.any? %>
    <% @maraude.intervenants.each do |int| %>
      <% disp << "/ #{int.nom} /" %>
    <% end %>
    <% disp << "\n" %>
  <% end %>
  <% disp << "\n\n" %>

  <% (0..(liste_villes.length-1)).each do |n| %>
    <% disp << "#{liste_villes[n].upcase} :\n#{liste_usagers[n]}\n\n" %>
  <% end %>

  <h3 class="text-center">Compte-rendu</h3>

  <pre class="pre-scrollable text-justify"><%= disp %></pre>

<div class="text-right lead">
  <% if @current_user.admin? %>
    <br><%= link_to "Supprimer la maraude", "/maraudes/edit/#{@maraude.id}",
                                            method: :delete,
                                            data: { confirm: "Etes-vous sûr(e) ? Cette maraude ne sera pas récupérable." },
                                            class: "btn btn-danger" %>
  <% end %>
</div>