<div class="jumbotron">
  <h1>Bienvenue sur le logiciel du Samusocial 93 !</h1>
  <hr>
  <h3>Vous pouvez vous connecter ci-dessous.</h3>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
    <%= form_for(:session, url: login_path) do |f| %>
      <div class="form-horizontal">
        <div class="form-group">
          <%= f.label :identifiant, class: "control-label col-md-3 col-sm-3 col-xs-3" %>
          <div class="col-md-9 col-sm-9 col-xs-9">
            <%= f.text_field :identifiant, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :password, "Mot de passe", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
          <div class="col-md-9 col-sm-9 col-xs-9">
            <%= f.password_field :password, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group text-center">
          <%= f.submit "Connexion", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>

    <p>Besoin de s'inscrire ? Demandez à un administrateur !</p>
  </div>
</div>
