<h1>
	Index des structures
	<% unless @current_user.benev? %>
		<br><%= link_to "Nouvelle structure", "/structures/new", class: 'btn btn-info' %>
	<% end %>
</h1>

<%= form_tag(structures_path, :method => "get", id: "search-form", role: 'search', class: "navbar navbar-search") do %>
  <div class="form-group col-md-4 col-sm-4 col-xs-4">
    <%= text_field_tag :search, params[:search], placeholder: "Rechercher des structures", class: 'form-control' %>
  </div>
  <%= submit_tag "Rechercher", class: 'btn btn-default' %>
<% end %>

<% if !@structures.empty? %>
  <div class="row structures">
    <% @structures.each do |s| %>
      <div class="col-md-3 col-sm-3 col-xs-3 lead structure">
        <%= link_to "#{s.nom}", "/structures/show/#{s.id}" %>
        <% if s.ville.present? %>
          (<%= s.ville %>)
        <% end %>

        <!--Nb signalements-->
        <% sig = Rencontre.where(signale: true, sig_structure: s.nom).count %>
        <% if sig != 0 %>
          <br><span class="label label-default"><%= pluralize(sig, "signalement") %></span>
        <% end %>

        <!--Nb accompagnements-->
        <% a = Rencontre.where(accomp: true, accomp_structure: s.nom).count %>
        <% if a != 0 %>
          <br><span class="label label-default"><%= pluralize(a, "accompagnement") %></span>
        <% end %>
      </div>
    <% end %>
    <hr>
  </div>
<% else %>
  <p class="text-center lead">Aucune structure correspondant au(x) terme(s) : "<%= params[:search] %>".</p>
<% end %>

<%= will_paginate %>