<h1>Nouvelle structure</h1>

<h4>On renseignera au moins le nom de la structure.</h4>

<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
    <%= simple_form_for(Structure.new, url: '/structures/new', method: "post") do |f| %>
		<div class="form-horizontal">
		<div class="part part-hover">
			<div class="form-group">
			    <%= f.label :nom, class: "control-label col-md-3 col-sm-3 col-xs-3" %>
			    <div class="col-md-9 col-sm-9 col-xs-9">
			      <%= f.text_field :nom, class: 'form-control' %>
			    </div>
			</div>
			<div class="form-group">
			    <%= f.label :ville, class: "control-label col-md-3 col-sm-3 col-xs-3" %>
			    <div class="col-md-9 col-sm-9 col-xs-9">
			      <%= f.select :ville, @villes, prompt: "Choisissez une ville", class: 'form-control' %>
			    </div>
			</div>
			<div class="form-group">
			    <%= f.label :adresse, class: "control-label col-md-3 col-sm-3 col-xs-3" %>
			    <div class="col-md-9 col-sm-9 col-xs-9">
			      <%= f.text_field :adresse, class: 'form-control' %>
			    </div>
			</div>

			<div class="form-group text-center">
    		<div class="btn-group">
      			<%= f.submit "Créer la structure", class: "btn btn-primary",
                              name: 'add_ok',
                              id: 'submit' %>
   			</div>
  			</div>
		</div>
		</div>
	<% end %>
  </div>
</div>
