<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<h1>
	<% unless @current_user.benev? %>
	  <%= link_to @structure.nom, "/structures/edit/#{@structure.id}",
	  														class: "btn btn-info btn-lg",
	  														'data-toggle' => "tooltip",
	                							'data-placement' => "bottom",
	                							title: "Editer" %>
	<% else %>
		<%= @structure.nom %>
	<% end %>
  <small>
		<% if @structure.ville.present? %>
			<br><%= @structure.ville %>
		<% end %>
		<% if @structure.adresse.present? %>
			<br><%= @structure.adresse %>
		<% end %>
  </small>
</h1>

<%= form_tag("/structures/show/#{@structure.id}", :method => "get", id: "search-form", role: 'search', class: "navbar navbar-search") do %>
  <div class="form-group col-md-4 col-sm-4 col-xs-4">
    <%= text_field_tag :search, params[:search], placeholder: "Rechercher des accompagnements/signalements", class: 'form-control' %>
  </div>
  <%= submit_tag "Rechercher", class: 'btn btn-default' %>
<% end %>

<div id="accordion">
	<% if @sigs.present? %>
		<h3>Signalements <span class="badge"><%= @sigs.count %></span></h3>
		<div>
			<table class="table table-striped">
				<tr>
					<th>Date</th>
					<th>Usager</th>
					<th>Maraude</th>
					<th>Contact</th>
				</tr>
				<% @sigs.each do |s| %>
				<tr>
					<td><%= s.date.strftime('%d/%m/%y') %></td>
						<% u = Usager.find(s.usager_id) %>
					<td><% if u.enfants.any? && u.couple %>
              			<%= link_to "Famille #{u.sexe} #{u.nom} #{u.prenom} et #{u.sexe2} #{u.nom2} #{u.prenom2}", "/usagers/#{u.id}" %>
            			<% elsif u.enfants.any? && (not u.couple) %>
              				<%= link_to "Famille #{u.sexe} #{u.nom} #{u.prenom}", "/usagers/#{u.id}" %>
            			<% elsif (not u.enfants.any?) && u.couple %>
              				<%= link_to "Couple #{u.sexe} #{u.nom} #{u.prenom} et #{u.sexe2} #{u.nom2} #{u.prenom2}", "/usagers/#{u.id}" %>
            			<% else %>
              				<%= link_to "#{u.sexe} #{u.nom} #{u.prenom}", "/usagers/#{u.id}" %>
            			<% end %> </td>
					<td><%= s.type_renc %></td>
					<td>
						<% if s.sig_contact.present? %>
							<%= s.sig_contact %>
						<% end %>
						<% if s.sig_coords.present? %>
							<br>Coordonnées : <%= s.sig_coords %>
						<% end %>
					</td>
				</tr>
				<% end %>
			</table>
		</div>
	<% end %>

	<% if @accomps.present? %>
		<h3>Accompagnements <span class="badge"><%= @accomps.count %></span></h3>
		<div>
			<table class="table table-striped">
				<tr>
					<th>Date</th>
					<th>Usager</th>
					<th>Maraude</th>
				</tr>
				<% @accomps.each do |s| %>
				<tr>
					<td><%= s.date.strftime('%d/%m/%y') %></td>
						<% u = Usager.find(s.usager_id) %>
					<td><% if u.enfants.any? && u.couple %>
              				<%= link_to "Famille #{u.sexe} #{u.nom} #{u.prenom} et #{u.sexe2} #{u.nom2} #{u.prenom2}", "/usagers/#{u.id}" %>
            			<% elsif u.enfants.any? && (not u.couple) %>
              				<%= link_to "Famille #{u.sexe} #{u.nom} #{u.prenom}", "/usagers/#{u.id}" %>
            			<% elsif (not u.enfants.any?) && u.couple %>
              				<%= link_to "Couple #{u.sexe} #{u.nom} #{u.prenom} et #{u.sexe2} #{u.nom2} #{u.prenom2}", "/usagers/#{u.id}" %>
            			<% else %>
              				<%= link_to "#{u.sexe} #{u.nom} #{u.prenom}", "/usagers/#{u.id}" %>
            			<% end %> </td>
					<td><%= s.type_renc %></td>
				</tr>
				<% end %>
			</table>
		</div>
	<% end %>
</div>

<% if params[:search] && !@sigs.present? && !@accomps.present? %>
	<p class="lead text-center">Aucun usager signalé par ou accompagné sur la structure correspondant au(x) terme(s) : "<%= params[:search] %>".</p>	
<% end %>

<% if @current_user.admin? %>
	<div class="text-right lead">
		<%= link_to "Supprimer la structure", "/structures/edit/#{@structure.id}", method: :delete, data: { confirm: "Etes-vous sûr(e) ?" }, class: "btn btn-danger" %>
	</div>
<% end %>