<%= form_for(@user, url: "/users/edit/#{@user.id}", method: :post) do |f| %>
   	  
  <%= f.label :nom %>
  <%= f.text_field :nom, class: 'form-control' %><br>

  <%= f.label :prenom, "Prénom" %>
  <%= f.text_field :prenom, class: 'form-control' %><br>

  <%= f.label :identifiant %>
  <%= f.text_field :identifiant, class: 'form-control' %><br>

  <%= f.label :date_naissance, "Date de naissance" %> 
  <div class="col-md-9 col-sm-9 col-xs-9 input-group date" id="datepicker">
  <% if @user.date_naissance.present? %>
      <%= f.text_field :date_naissance, class: 'form-control', data: { date_format: 'DD/MM/YYYY', locale: 'fr' }, value: @user.date_naissance.strftime("%d/%m/%Y") %>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
  <% else %>
      <%= f.text_field :date_naissance, class: 'form-control', data: { date_format: 'DD/MM/YYYY', locale: 'fr' } %>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
  <% end %>
  </div><br>

  <%= f.label :password_digest, "Mot de passe" %>
  <%= f.password_field :password_digest, class: 'form-control' %><br>

  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation, class: 'form-control' %><br>

  <% if @current_user.admin? && @current_user != @user %>
      <div class="text-center form-inline">
        <%= f.check_box :benev, class: 'form-control' %>
        <%= f.label :benev, "Bénévole (compte restreint)" %>
      </div>
      <hr>
      <div class="text-center form-inline">
        <%= f.check_box :admin, class: 'form-control' %>
        <%= f.label :admin, "Administrateur" %>
      </div>
  <% end %>

  <div class="text-center submit-btn">
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>
<% end %>