<%= javascript_include_tag 'application', 'data-turbolinks-track' => :reload %>

<% provide(:button_text, 'Sauvegarder les modifications') %>

<h1>
<% if @current_user == @user %>Editer votre profil
<% else %>Editer le profil de <%= "#{@user.nom} #{@user.prenom}" %>
<% end %>
</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>
