<h1>
	Utilisateurs du PQI
	<% if @current_user.admin? %>
 		<br><%= link_to "Nouvel utilisateur", signup_path, class: "btn btn-info" %>
	<% end %>
</h1>

<ul class="users">

	<% @users.each do |user| %>
  
  	<li class="lead">
  		<%= "#{user.nom} #{user.prenom}" %>
  		<% if user.benev? %>
    		<br>Bénévole
  		<% else %>
    		<br>Salarié
  		<% end %>
  		<% if user.admin? %>
  			<br>Administrateur
  		<% end %>
  		<br><%= link_to user.identifiant, "/users/show/#{user.id}" %>
	</li>

	<% end %>

</ul>

<%= will_paginate %>
