<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<% provide(:button_text, 'Créer le compte') %>

<h1>Ajout d'un nouvel utilisateur</h1>
  
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form_create' %>
  </div>
</div>

