<%= simple_form_for(:usager, url: "/usagers/edit_comp/#{@usager.id}", method: :post) do |f| %>

	<div id="tabs">
    <ul>
      <li><a href="#tab-1">Ressources</a></li>
      <li><a href="#tab-2">Suivi social</a></li>
      <li><a href="#tab-3">Suivi médical</a></li>
      <li><a href="#tab-4">Autres informations</a></li>
    </ul>
    <div id="tab-1">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <% for ress in @ressources[0..5] do %>
          	<% if @usager.ressources.present? && @usager.ressources.split("\n").include?("#{ress.first}") %>
    			    <%= f.check_box :ressources, { :multiple => true, :checked => true }, "#{ress.first}" %>
    			   	<%= ress.first %><br>
    			  <% else %>
    			    <%= f.check_box :ressources, { :multiple => true, :checked => false }, "#{ress.first}" %>
    			    <%= ress.first %><br>
    			  <% end %>
    		  <% end %>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <% for ress in @ressources[6..11] do %>
            <% if @usager.ressources.present? && @usager.ressources.split("\n").include?("#{ress.first}") %>
              <%= f.check_box :ressources, { :multiple => true, :checked => true }, "#{ress.first}" %>
              <%= ress.first %><br>
            <% else %>
              <%= f.check_box :ressources, { :multiple => true, :checked => false }, "#{ress.first}" %>
              <%= ress.first %><br>
            <% end %>
          <% end %>
        </div>
      </div>
      <br>
      <div class="text-center">
		    <%= f.label :montant, "Montant (en €)" %>
		    <%= f.number_field :montant, step: '0.01' %>
      </div>
    </div>

    <div id="tab-2">
      <div>
        <div class="form-inline">
          <%= f.check_box :sejour, class: 'form-control check' %><span> Carte de séjour</span>

          <%= f.check_box :cfr, class: 'form-control check' %><span> CNI/Passeport</span>
        </div>

        <div class="appear">
          <%= f.label :carte_date, "Date de validité" %>
          <div class="input-group date" id="datepicker">
            <%= f.text_field :carte_date, class: 'form-control', data: { date_format: 'DD/MM/YYYY', locale: 'fr' } %>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          </div>
        </div>
      </div>
      <hr style="border-top:1px solid #ddd;">
      <div>
        <div class="form-inline">
          <%= f.check_box :dom, class: 'form-control check' %><span> Domiciliation</span>
        </div>

        <div class="appear">
          <%= f.label :dom_org, "Organisme" %>
          <%= f.text_field :dom_org, class: 'form-control' %><br>

          <%= f.label :dom_adr, "Adresse" %>
          <%= f.text_field :dom_adr, class: 'form-control' %>
        </div>
      </div>
      <hr style="border-top:1px solid #ddd;">
      <div>
        <div class="form-inline">
          <%= f.check_box :tut, class: 'form-control check' %><span> Tutelle</span>

          <%= f.check_box :cur, class: 'form-control check' %><span> Curatelle</span>
        </div>

        <div class="appear">
          <%= f.label :tutcur_org, "Organisme" %>
          <%= f.text_field :tutcur_org, class: 'form-control' %>
        </div>
      </div>
      <hr style="border-top:1px solid #ddd;">
      <div>
        <div class="form-inline">
          <%= f.check_box :suivi, class: 'form-control check' %><span> Service social de suivi</span>
        </div>

        <div class="appear">
          <%= f.label :suivi_org, "Organisme" %>
          <%= f.text_field :suivi_org, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div id="tab-3">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <h4>Prestations médicales</h4>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <% for presta in @prestas_med do %>
            <% if @usager.prestas_med.present? && @usager.prestas_med.split("\n").include?("#{presta.first}") %>
              <%= f.check_box :prestas_med, { :multiple => true, :checked => true }, "#{presta.first}" %>
              <%= presta.first %><br>
            <% else %>
              <%= f.check_box :prestas_med, { :multiple => true, :checked => false }, "#{presta.first}" %>
              <%= presta.first %><br>
            <% end %>
          <% end %>
        </div>
      </div>
      <hr style="border-top:1px solid #ddd;">

      <div>
        <div class="form-inline">
          <%= f.check_box :medecin, class: 'form-control check' %><span> Médecin traitant</span>
        </div>

        <div class="appear">
          <%= f.label :medecin_infos, "Nom, coordonnées, informations" %>
          <%= f.text_area :medecin_infos, rows: 2, class: 'form-control' %>
        </div>
      </div>
      <hr style="border-top:1px solid #ddd;">

      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6 form-inline">
          <%= f.check_box :pb_sante, class: 'form-control check' %><span> Problématique de santé</span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 form-inline">
          <%= f.check_box :mobil, class: 'form-control check' %><span> Mobilité réduite</span>
        </div>
      </div>
      <hr style="border-top:1px solid #ddd;">

      <h4 class="text-center">Informations complémentaires</h4>
      <%= f.text_area :infos_sante, rows: 5, class: 'form-control' %>
    </div>

    <div id="tab-4">
      <%= f.text_area :autres_infos, rows: 10, class: 'form-control' %>
    </div>
  </div>
	
  <div class="text-center">
    <br><%= f.submit "Enregistrer les modifications", class: "btn btn-primary" %>
  </div>

<% end %>