<div class="nested-fields">

  <blockquote id="enfants">
    <div class="form-horizontal part part-hover">
      <div class="form-group">
        <%= f.label :nom, class: "control-label col-md-3 col-sm-3 col-xs-3" %>
        <div class="col-md-9 col-sm-9 col-xs-9">
          <%= f.text_field :nom, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :prenom, "Prénom", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
        <div class="col-md-9 col-sm-9 col-xs-9">
          <%= f.text_field :prenom, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :sexe, class: "control-label col-md-3 col-sm-3 col-xs-3" %>
        <div class="col-md-2 col-md-offset-3 col-sm-2 col-sm-offset-3 col-xs-2 col-xs-offset-3 form-inline">
          <%= f.radio_button :sexe, "Garçon", class: 'form-control' %>
          <%= f.label :sexe_m, "Garçon" %>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 form-inline">
          <%= f.radio_button :sexe, "Fille", class: 'form-control' %>
          <%= f.label :sexe_f, "Fille" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :date_naissance, "Date de naissance", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
        <div class="col-md-9 col-sm-9 col-xs-9 input-group date" id="datepicker">
          <%= f.text_field :date_naissance, class: 'form-control', data: { date_format: 'DD/MM/YYYY', locale: 'fr' } %>
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
      </div>
    </div>

    <div class="text-center">
        <%= link_to_remove_association "Retirer", f, class: 'btn btn-danger' %>
    </div>
  </blockquote>

<hr> 


</div>