<%= simple_form_for Usager.new, url: '/usagers/new', method: "post" do |f| %>

<div class="form-horizontal">
  <div class="part part-hover">
    <h3>Identité</h3>

    <div class="form-group">
      <%= f.label :nom, class: "control-label col-md-3 col-sm-3 col-xs-3" %>
      <div class="col-md-9 col-sm-9 col-xs-9">
        <%= f.text_field :nom, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :prenom, "Prénom", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
      <div class="col-md-9 col-sm-9 col-xs-9">
        <%= f.text_field :prenom, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :sexe, class: "control-label col-md-3 col-sm-3 col-xs-3" %>
      <div class="col-md-2 col-md-offset-3 col-sm-2 col-sm-offset-3 col-xs-2 col-xs-offset-3 form-inline">
        <%= f.radio_button :sexe, "Mr", class: 'form-control' %>
        <%= f.label :sexe_m, "Mr" %>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3 form-inline">
        <%= f.radio_button :sexe, "Mme", class: 'form-control check sig' %>
        <%= f.label :sexe_f, "Mme" %>
      </div>

      <div class="form-group appear text-center">
        <%= f.label :enceinte, "Enceinte" %>
        <%= f.check_box :enceinte, checked: false %>
      </div>
      
    </div>


    <div class="form-group">
      <%= f.label :date_naissance, "Date de naissance", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
      <div class="col-md-9 col-sm-9 col-xs-9 input-group date" id="datepicker">
        <%= f.text_field :date_naissance, class: 'form-control', data: { date_format: 'DD/MM/YYYY', locale: 'fr' } %>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :tel, "Téléphone", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
      <div class="col-md-9 col-sm-9 col-xs-9">
        <%= f.text_field :tel, class: 'form-control' %>
      </div>
    </div>
  </div>

  <hr>

  <div class="part part-hover">
  <h3>Conjoint</h3>

  <div class="row form-inline">
    <div class="col-md-6 col-sm-6 col-xs-6">
      <%= f.label :couple, "Couple" %>
      <%= f.check_box :couple, checked: false, class: 'form-control check sig' %>
    </div>
  </div>

  <div class="form-group appear">
      <%= f.label :nom2, "Nom", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
      <div class="col-md-9 col-sm-9 col-xs-9">
        <%= f.text_field :nom2, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group appear">
      <%= f.label :prenom2, "Prénom", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
      <div class="col-md-9 col-sm-9 col-xs-9">
        <%= f.text_field :prenom2, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group appear">
      <%= f.label :sexe2, "Sexe", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
      <div class="col-md-2 col-md-offset-3 col-sm-2 col-sm-offset-3 col-xs-2 col-xs-offset-3 form-inline">
        <%= f.radio_button :sexe2, "Mr", class: 'form-control' %>
        <%= f.label :sexe_m, "Mr" %>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3 form-inline">
        <%= f.radio_button :sexe2, "Mme", class: 'form-control check sig' %>
        <%= f.label :sexe_f, "Mme" %>
      </div>
      <div class="form-group appear text-center">
        <%= f.label :enceinte2, "Enceinte" %>
        <%= f.check_box :enceinte2, checked: false %>
      </div>

    </div>

    <div class="form-group appear">
      <%= f.label :date_naissance2, "Date de naissance", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
      <div class="col-md-9 col-sm-9 col-xs-9 input-group date" id="datepicker">
        <%= f.text_field :date_naissance2, class: 'form-control', data: { date_format: 'DD/MM/YYYY', locale: 'fr' } %>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>
    </div>

    <div class="form-group appear">
      <%= f.label :tel2, "Téléphone", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
      <div class="col-md-9 col-sm-9 col-xs-9">
        <%= f.text_field :tel2, class: 'form-control' %>
      </div>
    </div>

  
  </div>

  <hr>

  <div class="part part-hover">
    <h3>Adresse</h3>
    
    <div class="form-group">
      <%= f.label :ville, class: "control-label col-md-3 col-sm-3 col-xs-3" %>
      <div class="col-md-9 col-sm-9 col-xs-9">
        <%= f.select :ville, @villes, prompt: "Choisissez une ville", class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :adresse, class: "control-label col-md-3 col-sm-3 col-xs-3" %>
      <div class="col-md-9 col-sm-9 col-xs-9">
        <%= f.text_field :adresse, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :adresse_précis, "Complément d'adresse", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
      <div class="col-md-9 col-sm-9 col-xs-9">
        <%= f.text_area :adresse_précis, class: 'form-control' %>
      </div>
    </div>
  </div>

  <hr>

  <% unless @current_user.benev? %>
    <div class="part part-hover">
      <h3>Référent</h3>

      <div class="form-group">
        <%= f.label :ref, "Nom", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
        <div class="col-md-9 col-sm-9 col-xs-9">
          <%= f.text_field :ref, data: {autocomplete_source: Intervenant.where(ref: true).order(:nom).map(&:nom)}, class: 'form-control' %>
        </div>
      </div>
    </div>

    <hr>

    <div class="part part-hover">
      <h3>Groupe</h3>

      <div class="form-group">
        <%= f.label :groupe_nom, "Nom", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
        <div class="col-md-9 col-sm-9 col-xs-9">
          <%= f.text_area :groupe_nom, data: {autocomplete_source: Groupe.order(:nom).map(&:nom)}, class: 'form-control' %>
        </div>
      </div>
    </div>

    <hr>

    <div class="part part-hover">
      <div class="form-group form-inline text-center lead">
        <%= f.check_box :pqi, class: 'form-control check two-lv' %>
        <%= f.label :pqi, "Ajout au PQI" %>
      </div>
      <div class="form-group appear">
        <%= f.label :notes, "Observations sur PQI", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
        <div class="col-md-9 col-sm-9 col-xs-9">
          <%= f.text_area :notes, rows: 2, class: 'form-control' %>
        </div>
      </div>
    </div>

    <hr>

    <% end %>

    <div class="part part-hover">
      <div class="form-group form-inline text-center lead">
        <%= f.check_box :dmde, class: 'form-control check two-lv' %>
        <%= f.label :dmde, "Demande d'hébergement" %>
      </div>
      <div class="form-group appear">
        <%= f.label :date_dmde, "Date", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
        <div class="col-md-9 col-sm-9 col-xs-9 input-group date" id="datepicker">
          <%= f.text_field :date_dmde, class: 'form-control', data: { date_format: 'DD/MM/YYYY', locale: 'fr' } %>
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
      </div>
    </div>

  <div class="part">
    <h3>Enfant(s)</h3>

    <ul id="enfants">

      <%= f.simple_fields_for :enfants do |enf| %>
        <li><%= render 'enfant_fields', f: enf %></li>
      <% end %>
      
      <%= link_to_add_association 'Ajouter un enfant', f, :enfants, class: 'links btn btn-info' %>

      
    </ul>
  </div>

  <hr>
  <%= @i %>

  <div class="form-group text-center">
    <div class="btn-group">
      <%= f.submit "Ajouter", class: "btn btn-primary",
                              name: 'add_ok',
                              id: 'submit' %>
    </div>
  </div>
</div>

<% end %>