<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<% if @usager.enfants.any? && @usager.couple %>
  <h1>Edition des informations complémentaires de la famille <%= "#{@usager.sexe} #{@usager.nom} #{@usager.prenom} et #{@usager.sexe2} #{@usager.nom2} #{@usager.prenom2}" %></h1>
<% elsif @usager.enfants.any? && (not @usager.couple) %>
  <h1>Edition des informations complémentaires de la famille <%= "#{@usager.sexe} #{@usager.nom} #{@usager.prenom}" %></h1>
<% elsif (not @usager.enfants.any?) && @usager.couple %>
  <h1>Edition des informations complémentaires du couple <%= "#{@usager.sexe} #{@usager.nom} #{@usager.prenom} et #{@usager.sexe2} #{@usager.nom2} #{@usager.prenom2}" %></h1>
<% else %>
  <h1>Edition des informations complémentaires de <%= "#{@usager.sexe} #{@usager.nom} #{@usager.prenom}"%> </h1>
<% end %>

<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
    <%= render "edit_comp_form" %>
  </div>
</div>