<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<% if @usager.enfants.any? && @usager.couple %>
  <h1>Modification des informations de la famille <%= "#{@usager.sexe} #{@usager.nom} #{@usager.prenom} et #{@usager.sexe2} #{@usager.nom2} #{@usager.prenom2}" %></h1>
<% elsif @usager.enfants.any? && (not @usager.couple) %>
  <h1>Modification des informations de la famille <%= "#{@usager.sexe} #{@usager.nom} #{@usager.prenom}" %></h1>
<% elsif (not @usager.enfants.any?) && @usager.couple %>
  <h1>Modification des informations du couple <%= "#{@usager.sexe} #{@usager.nom} #{@usager.prenom} et #{@usager.sexe2} #{@usager.nom2} #{@usager.prenom2}" %></h1>
<% else %>
  <h1>Modification des informations de <%= "#{@usager.sexe} #{@usager.nom} #{@usager.prenom}"%> </h1>
<% end %>


<%= simple_form_for @usager, url: "/usagers/edit/#{@usager.id}", method: "post" do |f| %>

<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 form-horizontal">
    <div class="form-group">
      <h2><small><%= f.label :ref, "Référent", class: "control-label col-md-3 col-sm-3 col-xs-3" %></small></h2>
      <div class="col-md-9 col-sm-9 col-xs-9">
        <%= f.text_field :ref, data: {autocomplete_source: Intervenant.where(ref: true).order(:nom).map(&:nom)}, class: 'form-control' %>
      </div>
    </div>
  </div>
</div>

<h2 class="text-center form-inline">
  <%= f.check_box :pqi, class: 'form-control' %>
  <%= f.label :pqi, "PQI" %>
</h2>

<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 form-horizontal">
    <div class="form-group">
      <h2><%= f.label :groupe_nom, "Groupe", class: "control-label col-md-3 col-sm-3 col-xs-3" %></h2>
      <div class="col-md-9 col-sm-9 col-xs-9">
        <%= f.text_field :groupe_nom, data: {autocomplete_source: Groupe.order(:nom).map(&:nom)}, class: 'form-control' %>
      </div>
    </div>
  </div>
</div>


<div id="accordion">

  <h3>Identité</h3>

  <div class="text-center">
    <div class="row">
      <div class="form-inline col-md-1 col-md-offset-5">
        <%= f.radio_button :sexe, "Mr", class: 'form-control' %>
        <%= f.label :sexe_m, "Mr" %>
      </div>
      <div class="form-inline col-md-1">
        <%= f.radio_button :sexe, "Mme", class: 'form-control check sig' %>
        <%= f.label :sexe_f, "Mme" %>
      </div>

      <div class="form-inline appear text-center">
        <%= f.label :enceinte, "Enceinte" %>
        <%= f.check_box :enceinte %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <%= f.text_field :nom,  class: 'form-control',
                                'data-toggle' => "tooltip",
                                'data-placement' => "bottom",
                                title: 'Nom' %>
      </div>
      <div class="col-md-4">
        <%= f.text_field :prenom, class: 'form-control',
                                  'data-toggle' => "tooltip",
                                  'data-placement' => "bottom",
                                  title: 'Prénom' %>
      </div>
    </div>

    <p><br/></p>

    <div class="row">
      <div class="form-group">
          <%= f.label :date_naissance, "Date de naissance", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
          <div class="col-md-9 col-sm-9 col-xs-9 input-group date" id="datepicker">
            <% if @usager.date_naissance.present? %>
              <%= f.text_field :date_naissance, class: 'form-control', data: { date_format: 'DD/MM/YYYY', locale: 'fr' }, value: @usager.date_naissance.strftime("%d/%m/%Y") %>
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            <% else %>
              <%= f.text_field :date_naissance, class: 'form-control', data: { date_format: 'DD/MM/YYYY', locale: 'fr' } %>
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            <% end %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :tel, "Téléphone", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
          <div class="col-md-9 col-sm-9 col-xs-9">
            <%= f.text_field :tel, class: 'form-control' %>
          </div>
        </div>
    </div>

  </div>

  <h3>Conjoint</h3>

  <div class="text-center">

    <div class="row form-inline">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <%= f.label :couple, "Couple" %>
        <%= f.check_box :couple, checked: @usager.couple, class: 'form-control check sig' %>
      </div>
    </div>

    <div class="row appear">
      <div class="form-inline col-md-1 col-md-offset-5">
        <%= f.radio_button :sexe2, "Mr", class: 'form-control' %>
        <%= f.label :sexe_m, "Mr" %>
      </div>
      <div class="form-inline col-md-1">
        <%= f.radio_button :sexe2, "Mme", class: 'form-control check sig' %>
        <%= f.label :sexe_f, "Mme" %>
      </div>

      <div class="form-inline appear text-center">
        <%= f.label :enceinte2, "Enceinte" %>
        <%= f.check_box :enceinte2 %>
      </div>
    </div>

    <div class="row appear">
      <div class="col-md-4 col-md-offset-2">
        <%= f.text_field :nom2,  class: 'form-control',
                                'data-toggle' => "tooltip",
                                'data-placement' => "bottom",
                                title: 'Nom' %>
      </div>
      <div class="col-md-4">
        <%= f.text_field :prenom2, class: 'form-control',
                                  'data-toggle' => "tooltip",
                                  'data-placement' => "bottom",
                                  title: 'Prénom' %>
      </div>
    </div>

    <p><br/></p>

    <div class="row appear">
      <div class="form-group">
          <%= f.label :date_naissance2, "Date de naissance", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
          <div class="col-md-9 col-sm-9 col-xs-9 input-group date" id="datepicker">
            <% if @usager.date_naissance2.present? %>
              <%= f.text_field :date_naissance2, class: 'form-control', data: { date_format: 'DD/MM/YYYY', locale: 'fr' }, value: @usager.date_naissance2.strftime("%d/%m/%Y") %>
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            <% else %>
              <%= f.text_field :date_naissance2, class: 'form-control', data: { date_format: 'DD/MM/YYYY', locale: 'fr' } %>
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            <% end %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :tel2, "Téléphone", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
          <div class="col-md-9 col-sm-9 col-xs-9">
            <%= f.text_field :tel2, class: 'form-control' %>
          </div>
        </div>
    </div>


  </div>


  <h3>Adresse</h3>

  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
      <div class="form-horizontal">
        <div class="form-group">
          <%= f.label :ville, class: "control-label col-md-3 col-sm-3 col-xs-3" %>
          <div class="col-md-9 col-sm-9 col-xs-9">
            <%= f.select :ville, @villes, prompt: "Choisissez une ville", class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :adresse, class: "control-label col-md-3 col-sm-3 col-xs-3" %>
          <div class="col-md-9 col-sm-9 col-xs-9">
            <%= f.text_field :adresse, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :adresse_précis, "Complément d'adresse", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
          <div class="col-md-9 col-sm-9 col-xs-9">
            <%= f.text_area :adresse_précis, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
  </div>


  <h3>Enfants</h3>

  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
      <ul id="enfants">
        <%= f.simple_fields_for :enfants do |enf| %>
          <li><%= render 'enfant_fields', f: enf %></li>
        <% end %>
        <%= link_to_add_association 'Ajouter un enfant', f, :enfants, class: 'links btn btn-primary' %>
      </ul>
    </div>
  </div>


  <h3>PQI</h3>

  <div>
    <%= f.label :notes, "Observations" %>
    <%= f.text_area :notes, rows: 2, class: 'form-control' %>
  </div>
</div>

<hr>

<div class="row">
  <div class="form-horizontal col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
    <div class="part part-hover">
      <div class="form-group form-inline text-center lead">
        <%= f.check_box :dmde, class: 'form-control check two-lv' %>
        <%= f.label :dmde, "Demande d'hébergement" %>
      </div>
      <div class="form-group appear">
        <%= f.label :date_dmde, "Date", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
        <div class="col-md-9 col-sm-9 col-xs-9 input-group date" id="datepicker">
          <% if @usager.date_dmde.present? %>
            <%= f.text_field :date_dmde, class: 'form-control', data: { date_format: 'DD/MM/YYYY', locale: 'fr' }, value: @usager.date_dmde.strftime("%d/%m/%Y") %>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          <% else %>
            <%= f.text_field :date_dmde, class: 'form-control', data: { date_format: 'DD/MM/YYYY', locale: 'fr' } %>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
  <div class="text-center">
    <%= f.submit "Enregistrer les modifications", class: "btn btn-primary" %>
  </div>

<% end %>