<h1>
<% if @usager.enfants.any? && @usager.couple %>
      <%= "Fiche de suivi jour de Famille #{@usager.sexe} #{@usager.nom} #{@usager.prenom} et #{@usager.sexe2} #{@usager.nom2} #{@usager.prenom2}" %>
    <% elsif @usager.enfants.any? && (not @usager.couple) %>
      <%= "Fiche de suivi jour de Famille #{@usager.sexe} #{@usager.nom} #{@usager.prenom}" %>
    <% elsif (not @usager.enfants.any?) && @usager.couple %>
      <%= "Fiche de suivi jour de Couple #{@usager.sexe} #{@usager.nom} #{@usager.prenom} et #{@usager.sexe2} #{@usager.nom2} #{@usager.prenom2}" %>
    <% else %>
      <%= "Fiche de suivi jour de #{@usager.sexe} #{@usager.nom} #{@usager.prenom}" %>
    <% end %>
</h1>


<%= simple_form_for @usager, url: "/usagers/edit/#{@usager.id}", method: "post" do |f| %>

  <%= f.text_area :fiche_jour, class: 'form-control', rows: "20" %>

  <div class="submit-btn text-center">
  	<%= f.submit "Valider la fiche", class: "btn btn-primary" %>
  </div>

<% end %>