<h1>
  Usagers
  <br><%= link_to "Index des groupes", groupes_path, class: 'btn btn-info' %>
</h1>



<%= will_paginate @usagers %>

<%= form_tag(usagers_path, :method => "get", id: "search-form", role: 'search', class: "navbar navbar-search") do %>
  <div class="form-group col-md-4 col-sm-4 col-xs-4">
    <%= text_field_tag :search, params[:search], placeholder: "Rechercher des usagers", class: 'form-control' %>

    <%= select_tag :ordre_de_tri, options_for_select(@proposition), class: 'form-control' %>
  </div>

  <%= submit_tag "Rechercher / Modifier l'ordre", class: 'btn btn-default' %>
<% end %>

<h4>Au passage de la souris, en vert les usagers sur PQI, en rouge ceux qui n'y sont pas.</h4>

<h4 class="text-right"><%= pluralize(@usagers.count, "usager") %></h4>

<% if !@usagers.empty? %>
  <table class="usagers table table-responsive table-hover text-center">
    <tr id="table_head">
      <th>Identité</th>
      <th>Adresse</th>
      <th>Dernières rencontres</th>
      <% if @current_user.admin? %>
        <th>Edition et Suppression (privilège admin)</th>
      <% end %>
    </tr>
    <% @usagers.each do |usager| %>

    <tr id="usager" <% if usager.pqi %> class="pqi" <% else %> class="no-pqi" <% end %> >
    	<td>
    		<% if usager.enfants.any? && usager.couple %>
      			<%= link_to "Famille #{usager.sexe} #{usager.nom} #{usager.prenom} et #{usager.sexe2} #{usager.nom2} #{usager.prenom2}", "/usagers/#{usager.id}" %>
    		<% elsif usager.enfants.any? && (not usager.couple) %>
      			<%= link_to "Famille #{usager.sexe} #{usager.nom} #{usager.prenom}", "/usagers/#{usager.id}" %>
    		<% elsif (not usager.enfants.any?) && usager.couple %>
      			<%= link_to "Couple #{usager.sexe} #{usager.nom} #{usager.prenom} et #{usager.sexe2} #{usager.nom2} #{usager.prenom2}", "/usagers/#{usager.id}" %>
    		<% else %>
      			<%= link_to "#{usager.sexe} #{usager.nom} #{usager.prenom}", "/usagers/#{usager.id}" %>
    		<% end %>

    		<% if usager.enfants.any? %>
      			<br><%= pluralize(usager.enfants.count, 'enfant') %>
    		<% end %>

    		<% if usager.couple %>
      			<% if usager.date_naissance? %>
        			<br><%= "1: #{usager.date_naissance.strftime("%d/%m/%Y")}" %>
      			<% end %>

      			<% if usager.date_naissance2? %>
        			<br><%= "2: #{usager.date_naissance2.strftime("%d/%m/%Y")}" %>
      			<% end %>
    		<% else %>
      			<% if usager.date_naissance? %>
        			<br><%= "#{usager.date_naissance.strftime("%d/%m/%Y")}" %>
      			<% end %>
    		<% end %>

    		<% if usager.couple %>
      			<% if usager.tel? && usager.tel != "" %>
        			<br><%= "1: #{usager.tel}" %>
      			<% end %>
      			<% if usager.tel2? && usager.tel2 != "" %>
       				<br><%= "2: #{usager.tel2}" %>
      			<% end %>
    		<% else %>
      			<% if usager.tel? && usager.tel != "" %>
        			<br><%= "#{usager.tel}" %>
      			<% end %>
    		<% end %>

    		<% if usager.ref.present? %>
      			<br><small>Référent : <%= usager.ref %></small>
    		<% end %>
    		<% if usager.groupe && usager.groupe.nom != "Sans groupe" %>
      			<br><%= link_to "#{usager.groupe.nom}", "/groupes/show/#{usager.groupe.id}" %>
    		<% end %> 

		</td>

    	<td>

    	<%= "#{usager.ville.upcase}" %>
    	<% if usager.adresse %>
      		<br><%= "#{usager.adresse}" %>
    	<% end %>
    	<% if usager.adresse_précis %>
      		<br><%= "#{usager.adresse_précis}" %>
    	<% end %>
  		
  		</td>

    	<td> 

    	<% dates_renc = [] %>
    	<% Rencontre.where(usager_id: usager.id, prev: false, dnv: false, tel: false).order('date DESC').each do |r| %>
      		<% dates_renc << "#{r.date.strftime("%d/%m/%y")}" %>
    	<% end %>
    	<%= dates_5(dates_renc.join(' - ')) %><br>

    	<% if Rencontre.find_by(usager_id: usager.id, prev: true) %>
      		<% n = Rencontre.where(usager_id: usager.id, prev: true).count %>
      		<%= pluralize(n, "rencontre") %> <%= "prévue".pluralize(n) %><br>
    	<% end %>

    	<%= link_to "Ajouter une rencontre", "/rencontres/new/#{usager.id}", id: 'ajout-rencontre', "data-no-turbolink" => true %>

    	</td>

    	<% if @current_user.admin? %>
    	
    	<td>

    	<%= link_to "Modifier", "/usagers/edit/#{usager.id}" %><br>
      	<%= link_to "Supprimer", "/usagers/#{usager.id}",  method: :delete,
                                        data: { confirm: "Etes-vous sûr(e) ?" } %>

    	 </td>
    	 
    	<% end %>

    </tr>

   <% end %>


  </table>
<% else %>
  <p class="lead text-center">Aucun usager correspondant au(x) terme(s) : "<%= params[:search] %>".</p>
<% end %>

