<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<h1>Nouvel usager</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
    <h4>
      On renseignera au moins le nom ou le prénom de chaque usager, ainsi que sa ville et son sexe. <br><br>
      Date de naissance : utiliser le bouton "calendrier"
    </h4>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
    <%= render 'form' %>
  </div>
</div>