<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<div id="no-print">
  <h1>PQI <span class="label label-default"><%= Usager.where(pqi: true).count %></span></h1>

  <div class="container" id="container-villes">
    <ul class="villes">
      <% @villes.each do |ville| %>
        <li><%= link_to "#{ville}", "/pqi/#{ville}"%></li>
      <% end %>
    </ul>
  </div>
</div>

<p> <br /> </p>

<%= form_tag("/pqi/#{@ville_actuelle}", :method => "get", id: "search-form", role: 'search', class: "navbar navbar-search") do %>
  <div class="form-group col-md-4 col-sm-4 col-xs-4">
    <%= select_tag :ordre_de_tri, options_for_select(@proposition), class: 'form-control' %>
  </div>

  <%= submit_tag "Modifier l'ordre", class: 'btn btn-default' %>
<% end %>

<% if @usagers %>
<hr>
<div id="pqi-print">
  <h3 id="ville-actuelle">
    <%= "#{@ville_actuelle}" %>
    <span class="label label-default"><%= Usager.where(pqi: true, ville: @ville_actuelle).count %></span>
    <%= link_to image_tag("print.png", alt: "Imprimer", width: 30, length: 30), '#', onclick: "window.print();", id: 'print-link', class: "btn" %>
  </h3>

  <table class="usagers table table-responsive table-striped">
    <tr class="table_head">
      <th class="identité">Identité</th>
      <th class="adresse">Adresse</th>
      <th class="rencontres">Dernières rencontres</th>
      <th class="notes">Observations</th>
    </tr>
    <% @usagers.each do |usager| %>
      <tr id="table-pqi">
        <td class="identité-tot">
          
          <% if usager.enfants.any? && usager.couple %>
            <%= link_to "Famille #{usager.sexe} #{usager.nom} #{usager.prenom} et #{usager.sexe2} #{usager.nom2} #{usager.prenom2}", "/usagers/#{usager.id}" %>
          <% elsif usager.enfants.any? && (not usager.couple) %>
            <%= link_to "Famille #{usager.sexe} #{usager.nom} #{usager.prenom}", "/usagers/#{usager.id}" %>
          <% elsif (not usager.enfants.any?) && usager.couple %>
            <%= link_to "Couple #{usager.sexe} #{usager.nom} #{usager.prenom} et #{usager.sexe2} #{usager.nom2} #{usager.prenom2}", "/usagers/#{usager.id}" %>
          <% else %>
            <%= link_to "#{usager.sexe} #{usager.nom} #{usager.prenom}", "/usagers/#{usager.id}" %>
          <% end %>

          <% if usager.enfants.any? %>
            <br><%= pluralize(usager.enfants.count, 'enfant') %>
          <% end %>

          <% if usager.couple %>
            <% if usager.date_naissance? %>
              <br><%= "1: #{usager.date_naissance.strftime("%d/%m/%Y")}" %>
            <% end %>

            <% if usager.date_naissance2? %>
              <br><%= "2: #{usager.date_naissance2.strftime("%d/%m/%Y")}" %>
            <% end %>
          <% else %>
            <% if usager.date_naissance? %>
              <br><%= "#{usager.date_naissance.strftime("%d/%m/%Y")}" %>
            <% end %>
          <% end %>

          <% if usager.couple %>
            <% if usager.tel? && usager.tel != "" %>
              <br><%= "1: #{usager.tel}" %>
            <% end %>
            <% if usager.tel2? && usager.tel2 != "" %>
              <br><%= "2: #{usager.tel2}" %>
            <% end %>
          <% else %>
            <% if usager.tel? && usager.tel != "" %>
              <br><%= "#{usager.tel}" %>
            <% end %>
          <% end %>
          
          <% if usager.ref.present? %>
            <br><small>Référent : <%= usager.ref %></small>
          <% end %>
          <% if usager.groupe && usager.groupe.nom != "Sans groupe" %>
            <br><%= link_to "#{usager.groupe.nom}", "/groupes/show/#{usager.groupe.id}" %>
          <% end %>
        </td>
        <td class="adresse-tot">
          <%= "#{usager.adresse}" %><br>
          <%= "#{usager.adresse_précis}" %>
        </td>
        <td class="rencontres">
          <% dates_renc = [] %>
          <% Rencontre.where(usager_id: usager.id, prev: false, dnv: false, tel: false).order("date DESC").each do |r| %>
            <% dates_renc << "#{r.date.strftime("%d/%m/%y")}" %>
          <% end %>
          <%= dates_5(dates_renc.join(' - ')) %><br>
          <% if Rencontre.find_by(usager_id: usager.id, prev: true) %>
            <% n = Rencontre.where(usager_id: usager.id, prev: true).count %>
            <%= pluralize(n, "rencontre") %> <%= "prévue".pluralize(n) %><br>
          <% end %>
          <%= link_to "Ajouter une rencontre", "/rencontres/new/#{usager.id}", id: 'ajout-rencontre', "data-no-turbolink" => true %>
        </td>
        <td><%= "#{usager.notes}" %></td>
      </tr>
    <% end %>
  <% end %>
  </table>
</div>