<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<h1>
  <% unless @current_user.benev? %>
    <% if @usager.enfants.any? && @usager.couple %>
      <%= link_to "Famille #{@usager.sexe} #{@usager.nom} #{@usager.prenom} et #{@usager.sexe2} #{@usager.nom2} #{@usager.prenom2} ",
                "/usagers/edit/#{@usager.id}",
                class: "btn btn-info btn-lg",
                'data-toggle' => "tooltip",
                'data-placement' => "bottom",
                title: "Editer" %>
      
    <% elsif @usager.enfants.any? && (not @usager.couple) %>
      <%= link_to "Famille #{@usager.sexe} #{@usager.nom} #{@usager.prenom}",
                "/usagers/edit/#{@usager.id}",
                class: "btn btn-info btn-lg",
                'data-toggle' => "tooltip",
                'data-placement' => "bottom",
                title: "Editer" %>
    <% elsif (not @usager.enfants.any?) && @usager.couple %>
      <%= link_to "Couple #{@usager.sexe} #{@usager.nom} #{@usager.prenom} et #{@usager.sexe2} #{@usager.nom2} #{@usager.prenom2}",
                "/usagers/edit/#{@usager.id}",
                class: "btn btn-info btn-lg",
                'data-toggle' => "tooltip",
                'data-placement' => "bottom",
                title: "Editer" %>
    <% else %>
      <%= link_to "#{@usager.sexe} #{@usager.nom} #{@usager.prenom}",
                "/usagers/edit/#{@usager.id}",
                class: "btn btn-info btn-lg",
                'data-toggle' => "tooltip",
                'data-placement' => "bottom",
                title: "Editer" %>
    <% end %>

  <% else %>
    <% if @usager.enfants.any? && @usager.couple %>
      <%= "Famille #{@usager.sexe} #{@usager.nom} #{@usager.prenom} et #{@usager.sexe2} #{@usager.nom2} #{@usager.prenom2}" %>
    <% elsif @usager.enfants.any? && (not @usager.couple) %>
      <%= "Famille #{@usager.sexe} #{@usager.nom} #{@usager.prenom}" %>
    <% elsif (not @usager.enfants.any?) && @usager.couple %>
      <%= "Couple #{@usager.sexe} #{@usager.nom} #{@usager.prenom} et #{@usager.sexe2} #{@usager.nom2} #{@usager.prenom2}" %>
    <% else %>
      <%= "#{@usager.sexe} #{@usager.nom} #{@usager.prenom}" %>
    <% end %>
  <% end %>
</h1>

<div class="message_preventif">
  <% if @usager.enceinte %>
    <%= "#{@usager.sexe} #{@usager.nom} #{@usager.prenom} est enceinte" %>
    <br />
  <%end %>
  <% if @usager.enceinte2 %>
    <%= "#{@usager.sexe2} #{@usager.nom2} #{@usager.prenom2} est enceinte" %>
  <% end %>
</div>



<h2 class="text-center"><small>
  <% if @usager.ref.present? %>
    Référent : <%= @usager.ref %><br>
  <% end %>
  <% if !@usager.pqi? %>
    Pas sur 
  <% end %>
  PQI
</small></h2>

<h2 class="text-center">
  <% if @usager.groupe %>
    <br>Groupe "<%= link_to "#{@usager.groupe.nom}", "/groupes/show/#{@usager.groupe.id}" %>"
  <% end %>
</h2>

<hr>

<% if Rencontre.find_by(usager_id: @usager.id, prev: true) %>
  <% renc_prev = Rencontre.where(usager_id: @usager.id, prev: true).order("date DESC") %>
  <h3><%= pluralize(renc_prev.count, "Rencontre") %> <%= "prévue".pluralize(renc_prev.count) %></h3>
  <blockquote>
    <ul>
      <% renc_prev.each do |r| %>
        <li>
          <%=" #{r.type_renc} du #{r.date.strftime("%d/%m/%y")}" %>
          <% if r.signale %>
            <%= " [#{r.signalement}]" %>
          <% end %>
          <% if r.accomp %>
            <%= " [#{r.type_accomp}]" %>
          <% end %>
          <% if r.details.present? %>
            <br>
            <pre><%= r.details %></pre>
          <% end %>
        </li>
      <% end %>
    </ul>
  </blockquote>

  <hr>
<% end %>

<h3>Informations générales</h3>

<div>
  <table class="table-responsive text-center"> 
    <tr class="table-head">
      <th class="ville">Ville</th>
      <th class="adresse">Adresse</th>
      <th class="comp_adr">Complément d'adresse</th>
      <th class="date_naissance">Date de naissance</th>
      <th class="tel">Téléphone</th>
    </tr>
    <tr id="usager-<%= @usager.id %>">
      <td class="ville"><%= "#{@usager.ville}" %></td>
      <td class="adresse"><%= "#{@usager.adresse}" %></td>
      <td class="comp_adr"><%= "#{@usager.adresse_précis}" %></td>
      <td class="date_naissance">
      <% if @usager.couple %> 
        <% if @usager.date_naissance %>
          <%= "1: #{@usager.date_naissance.strftime("%d/%m/%Y")}  "%>
        <% end %>
        <% if @usager.date_naissance2 %>
          <br/>
          <%= "2: #{@usager.date_naissance2.strftime("%d/%m/%Y")}  "%>
        <% end %>
      <% else %>
        <% if @usager.date_naissance %>
          <%= "#{@usager.date_naissance.strftime("%d/%m/%Y")}  "%>
        <% end %>
      <% end %>
      </td>
      <td class="tel">
      <% if @usager.couple %> 
        <% if @usager.tel && @usager.tel!="" %>
            <%= "1: #{@usager.tel}  "%>
        <% end %>
        <% if @usager.tel2 && @usager.tel2!="" %>
            <br/>
            <%= "2: #{@usager.tel2}  "%>
        <% end %>
      <% else %>
        <% if @usager.tel && @usager.tel!="" %>
            <%= "#{@usager.tel}  "%>
        <% end %>
      <% end %>
      </td>
    </tr>
  </table>
</div>

<div id="accordion">

  <% if @usager.enfants.any? %>
    <h3>Enfants</h3>

    <div>
      <ul class="enfants">
        <% @usager.enfants.each do |e| %>
          <li>
            <%= e.nom if e.nom %> <%= e.prenom if e.prenom %> <%= ", #{e.sexe.downcase}" if e.sexe %> 
            <% if e.date_naissance %>
              <% if e.sexe == "Fille" %>
                née 
              <% else %>
                né 
              <% end %>
              le <%= e.date_naissance.strftime("%d/%m/%Y") %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

  <% end %>



  <h3>PQI et interventions</h3>

  <div>
    <span>
      Périodes sur PQI : 
      <% if @usager.pqi_histo %>
        <%= "#{@usager.pqi_histo}" %>
        <% if @usager.pqi %>
          <%= " - toujours sur le PQI." %>
        <% end %>
      <% else %>
        <%= "#{@usager.sexe} #{@usager.nom} n'a jamais été sur le PQI." %>
      <% end %>
    </span><br><br>

    <span>
      Observations PQI :
      <% if @usager.notes.nil? || @usager.notes.empty? %>
        Rien de notable.
      <% else %>
        <% if @usager.pqi %>
          <%= "#{@usager.notes}" %>
        <% else %>
          <%= "#{@usager.sexe} #{@usager.nom} n'est pas sur le PQI." %>
          <%= " #{@usager.notes}" %>
        <% end %>
      <% end %>
    </span><br><br>

    <hr>


      <% dates_renc = [] %>
      <% Rencontre.where(usager_id: @usager.id, prev: false, dnv: false, tel: false).order("date DESC").each do |r| %>
        <% dates_renc << "#{r.date.strftime("%d/%m/%y")} [#{r.type_renc}]" %>
        <% if @usager.enfants.any? %>
          <% dates_renc.last << " [#{pluralize(r.nb_enf, "enfant")}]" %>
        <% end %>
        <% if r.user_id %>
          <% user = User.find_by(id: r.user_id) %>
          <% if user != nil %>
            <% dates_renc.last << " -> #{user.identifiant}" %>
          <% end %>
        <% end %>
      <% end %>


      <% dates_sig = [] %>
      <% Rencontre.where(usager_id: @usager.id, signale: true).order("date DESC").each do |r| %>
        <% dates_sig << "#{r.date.strftime("%d/%m/%y")} [#{r.signalement}]" %>
        <% if @usager.enfants.any? %>
          <% dates_sig.last << " [#{pluralize(r.nb_enf, "enfant")}]" %>
        <% end %>
        <% if r.dnv %>
          <% dates_sig.last << " [Maraude déplacée mais personne non vue]" %>
        <% end %>
      <% end %>


      <% dates_accomp = [] %>
      <% Rencontre.where(usager_id: @usager.id, accomp: true).order("date DESC").each do |r| %>
        <% dates_accomp << "#{r.date.strftime("%d/%m/%y")} [#{r.type_accomp}]" %>
        <% if @usager.enfants.any? %>
          <% dates_accomp.last << " [#{pluralize(r.nb_enf, "enfant")}]" %>
        <% end %>
      <% end %>


    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <% if dates_renc.empty? %>
          <p class="lead">Pas de dates de rencontre</p>
        <% else %>
          <p class="lead">Dates de rencontre</p>
          <pre class="pre-scrollable maraude-list"><%= dates_renc.join("\n") %></pre>
        <% end %>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <% if dates_sig.empty? %>
          <p class="lead">Pas de dates de signalement</p>
        <% else %>
          <p class="lead">Dates de signalement</p>
          <pre class="pre-scrollable maraude-list"><%= dates_sig.join("\n") %></pre>
        <% end %>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <% if dates_accomp.empty? %>
          <p class="lead">Pas de dates d'accompagnement</p>
        <% else %>
          <p class="lead">Dates d'accompagnement</p>
          <pre class="pre-scrollable maraude-list"><%= dates_accomp.join("\n") %></pre>
        <% end %>
      </div>
    </div>

    <div class="text-center lead">
      <span><%= link_to "Ajouter une rencontre", "/rencontres/new/#{@usager.id}", id: 'ajout-rencontre', "data-no-turbolink" => true %></span>

      <% if @usager.rencontres.any? %>
        <br><span>
          <%= link_to "Editer ou supprimer une rencontre",  "/rencontres/edit_form/#{@usager.id}" %>
        </span>
      <% end %>
    </div>
  </div>


  <h3>Statistiques</h3>

  <div>
    <% renc = Rencontre.where(usager_id: @usager.id, prev: false, dnv: false, tel: false) %>
    <% a = 0 %>
    <% v = 0 %>
    <% d = 0 %>
    <% h = 0 %>
    <% renc.each do |r| %>
      <% a += r.nb_alimentaire %>           
      <% v += r.nb_vestiaire %>             
      <% d += r.nb_duvet %>
      <% h += r.nb_hygiene %>
    <% end %>
    <% prestas = "#{pluralize(a, "prestation")} #{"alimentaire".pluralize(a)}\n#{pluralize(v, "vestiaire")}\n#{pluralize(d, "duvet")}\n#{pluralize(h, "hygiène")}" %>


    <table class="table-responsive">
      <tr class="table-head">
        <th>Nombre de rencontres</th>
        <th>Nombre de déplacements sans voir la personne</th>
        <th>Nombre de signalements</th>
        <th>Dont signalements déplacés sans voir la personne</th>
        <th>Nombre d'accompagnements</th>
        <th>Prestations reçues</th>
      </tr>
      <tr class="tr-center">
        <td><%= Rencontre.where(usager_id: @usager.id, prev: false, dnv: false, tel: false).count %></td>
        <td><%= Rencontre.where(usager_id: @usager.id, prev: false, dnv: true).count %></td>
        <td><%= Rencontre.where(usager_id: @usager.id, signale: true).count %></td>
        <td><%= Rencontre.where(usager_id: @usager.id, signale: true, dnv: true).count %></td>
        <td><%= Rencontre.where(usager_id: @usager.id, accomp: true).count %></td>
        <td>
          <pre class="maraude-list"><%= prestas %></pre>
        </td>
      </tr>
    </table>
  </div>

  <% unless @current_user.benev? %>
    <h3>Informations complémentaires</h3>

    <div>
      <div id="tabs">
        <ul>
          <li><a href="#tab-1">Ressources</a></li>
          <li><a href="#tab-2">Suivi social</a></li>
          <li><a href="#tab-3">Suivi médical</a></li>
          <li><a href="#tab-4">Autres informations</a></li>
          <%= link_to "Editer", "/usagers/edit_comp/#{@usager.id}", class: "btn btn-info", id: "edit-comp-link" %>
        </ul>
        <div id="tab-1">
          <pre class="maraude-list lead"><%= @usager.ressources %></pre>
          <p class="lead"><%= "Montant : #{@usager.montant} €" if @usager.montant.present? %></p>
        </div>
        <div id="tab-2">
          <p class="lead">
            <% if @usager.sejour %>
              Carte de séjour
            <% end %>
            <% if @usager.cfr %>
              CNI/Passeport
            <% end %>
            <% if @usager.carte_date.present? %>
              <%= " (Valide jusqu'au #{@usager.carte_date.strftime("%d/%m/%y")})" %>
            <% end %>
          </p>

          <% if @usager.dom %>
            <p class="lead">Domiciliation
            <%= " : #{@usager.dom_org}" if @usager.dom_org.present? %>
            <%= " (#{@usager.dom_adr})" if @usager.dom_adr.present? %></p>
          <% end %>

          <p class="lead">
            <% if @usager.tut %>
              Tutelle
            <% end %>
            <% if @usager.cur %>
              Curatelle
            <% end %>
            <% if @usager.tutcur_org.present? %>
              <%= " : #{@usager.tutcur_org}" if @usager.tutcur_org.present? %>
            <% end %>
          </p>

          <% if @usager.suivi %>
            <p class="lead">Service de suivi social
            <%= " : #{@usager.suivi_org}" if @usager.suivi_org.present? %></p>
          <% end %>
        </div>
        <div id="tab-3">
          <pre class="maraude-list lead"><%= @usager.prestas_med %></pre>
          <% if @usager.medecin != "0" %>
            <p class="lead">
              Médecin traitant
              <%= " : #{@usager.medecin_infos}" if @usager.medecin_infos.present? %>
            </p>
          <% end %>
          <% if @usager.pb_sante != "0" %>
            <p class="lead">Problématique de santé</p>
          <% end %>
          <% if @usager.mobil %>
            <p class="lead">Mobilité réduite</p>
          <% end %>
          <% if @usager.infos_sante.present? %>
            <pre class="maraude-list lead"><%= @usager.infos_sante %></pre>
          <% end %>
        </div>
        <div id="tab-4">
          <% if @usager.autres_infos.present? %>
            <pre class="maraude-list lead"><%= @usager.autres_infos %></pre>
          <% else %>
            <pre class="maraude-list lead">Pas d'autres informations.</pre>
          <% end %>
        </div>
      </div>
    </div>

    <h3>Suivi</h3>

    <div>
      <% if @usager.dmde? %>
        <div class="lead text-center">
          <span class="label label-success">
            En demande d'hébergement
            <% if @usager.date_dmde.present? %>
              (<%= @usager.date_dmde.strftime("%d/%m/%y") %>)
            <% end %>
          </span>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <h3 class="text-center">
            <%= link_to "Fiche de rencontres",  "/usagers/fiche/#{@usager.id}",
                                                class: "btn btn-info btn-lg" %>
          </h3>

          <pre class="pre-scrollable text-justify"><%= @usager.fiche %></pre>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-6">
          <h3 class="text-center">
            <%= link_to "Fiche de suivi jour",  "/usagers/fiche_jour/#{@usager.id}",
                                                class: "btn btn-info btn-lg" %>
          </h3>

          <pre class="pre-scrollable text-justify"><%= @usager.fiche_jour %></pre>
        </div>
      </div>
    </div>
  <% end %>
  
</div>

<div class="text-right lead">
  <% user = User.find_by(id: @usager.user_id) %>
  <% if user != nil %>
    <%= "Usager ajouté par " %><%= link_to "#{user.identifiant}", "/users/show/#{user.id}" %><%= " (#{@usager.created_at.strftime("%d/%m/%Y, %H:%M")})" %>
  <% end %>
  <% if @current_user.admin? || (@current_user == user ) %>
    <br><br><%= link_to "Supprimer cet usager", "/usagers/#{@usager.id}",  method: :delete,
                                                      data: { confirm: "Etes-vous sûr(e) ?" },
                                                      class: "btn btn-danger" %>
  <% end %>
</div>