<%= form_tag listes_path, method: "post" do %>
	
	<div class="form-horizontal">
	<div class="part part-hover">
	<div class= "form-group">

		<div class="text-center">	    
	    	<label for="choix_de_liste">Choix</label> :
	      	<select name="choix_de_liste" id="choix_de_liste">
	      		<option value = "rien" selected = "selected"> Liste à modifier </option>
	      		<option value = "intervs"> Intervenants et référents </option>
	      		<option value = "villes"> Villes </option>
	      		<option value = "types"> Types de rencontre </option>
	      	</select>
	    </div>

	    <br />

	    <div class="text-center">	 
		  	<input type="submit" value="Valider" class= "btn btn-primary"/>
		</div>

	</div>
	</div>
	</div>

<% end %>