<h1>Modifier les listes des menus de sélection</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
    <%= render 'form' %>
  </div>
</div>

<hr>


<% if @choix %>

	<div class="row">
	<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 liste">
		<% if @choix == "intervs" %>
			<h3 class="text-center">
				Liste des intervenants
				<br><small>On modifiera cette liste pour éviter doublons et fautes d'orthographe</small>
			</h3>
			<ul>
				<% Intervenant.all.order('nom ASC').each do |i| %>
					<li><div class="row">
							<div class="col-md-6 col-sm-6 col-xs-6 text-center lead"><%= i.nom %></div>
							<div class="col-md-6 col-sm-6 col-xs-6 text-center">
								<%= link_to "Retirer", 	"/intervenant/#{i.id}",
																				method: :delete,
																				data: { confirm: "Etes-vous sûr(e) ?" },
																				class: "btn btn-danger" %>
							</div>
						</div>
					</li>
					<hr>
				<% end %>

					<li>
						<%= form_for(Intervenant.new, url: intervenant_path) do |f| %>
							<div class="form-group">
		    					<%= f.label :nom, class: "control-label col-md-2 col-sm-2 col-xs-2" %>
		    					<div class="col-md-6 col-sm-6 col-xs-6">
		      					<%= f.text_field :nom, class: 'form-control' %>
		    					</div>
		    					<div class="col-md-4 col-sm-4 col-xs-4 text-center">
								<%= f.submit "Nouvel intervenant", class: "btn btn-primary" %>
								</div>
							</div>
						<% end %>
					</li>
			</ul>

		<% elsif @choix == "villes" %>
			<h3 class="text-center">
				Liste des villes
				<br><small>On modifiera cette liste pour y ajouter des villes hors 93 (sur lesquelles on pourra ajouter des structures par exemple) ou si un jour le département viendrait à voir sa répartition territoriale changée</small>
			</h3>
			<ul>
				<% Ville.all.order('nom ASC').each do |v| %>
					<li><div class="row">
							<div class="col-md-6 col-sm-6 col-xs-6 text-center lead">
								<%= v.nom %>
								<% if v.ville_93? %>
									<%= " (93)" %>
								<% else %>
									<%= " (hors 93)" %>
								<% end %>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-6 text-center">
								<%= link_to "Retirer", 	"/ville/#{v.id}",
																				method: :delete,
																				data: { confirm: "Etes-vous sûr(e) ?" },
																				class: "btn btn-danger" %>
							</div>
						</div></li>
					<hr>
				<% end %>

					<li>
						<%= form_for(Ville.new, url: ville_path) do |f| %>
							<div class="form-group">
		    					<%= f.label :nom, class: "control-label col-md-2 col-sm-2 col-xs-2" %>
		    					<div class="col-md-6 col-sm-6 col-xs-6">
		      					<%= f.text_field :nom, class: 'form-control' %>
		    					</div>
		    					<div class="col-md-4 col-sm-4 col-xs-4 text-center">
								<%= f.submit "Nouvelle ville", class: "btn btn-primary" %>
								</div>
							</div>
							<div class="form-group text-center form-inline col-md-8 col-sm-8 col-xs-8">
								<%= f.check_box :ville_93, checked: false, class: "form-control" %>
								<%= f.label :ville_93, "Ville du département de Seine-Saint-Denis (93)" %>
							</div>
						<% end %>
					</li>
			</ul>
		<% elsif @choix == "types" %>
			<h3 class="text-center">
				Liste des types de rencontre
				<br><small>On modifiera cette liste uniquement a priori pour y ajouter un nouveau type de rencontre (nouveau camion de maraude salariés ou bénévoles, nouveau type de rencontre en journée par exemple). ON EVITERA D'EN SUPPRIMER (cela pourrait causer des disfonctionnements du logiciel).</small>
			</h3>
			<ul>
				<% TypeRenc.all.order('nom ASC').each do |t| %>
					<li><div class="row">
							<div class="col-md-6 col-sm-6 col-xs-6 text-center lead">
								<%= t.nom %>
								<% if t.mar? %>
									<%= " (Maraude)" %>
								<% end %>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-6 text-center">
								<%= link_to "Retirer", 	"/type_renc/#{t.id}",
																				method: :delete,
																				data: { confirm: "Etes-vous sûr(e) ?" },
																				class: "btn btn-danger" %>
							</div>
						</div></li>
					<hr>
				<% end %>

				<li>
					<%= form_for(TypeRenc.new, url: type_renc_path) do |f| %>
						<div class="form-group">
		    				<%= f.label :nom, class: "control-label col-md-2 col-sm-2 col-xs-2" %>
		    				<div class="col-md-6 col-sm-6 col-xs-6">
		      					<%= f.text_field :nom, class: 'form-control' %>
		    				</div>
		    				<div class="col-md-4 col-sm-4 col-xs-4 text-center">
								<%= f.submit "Nouveau type de rencontre", class: "btn btn-primary" %>
							</div>
						</div>
						<div class="form-group text-center form-inline col-md-8 col-sm-8 col-xs-8">
							<%= f.check_box :mar, checked: false, class: "form-control" %>
							<%= f.label :mar, "Type de rencontre maraude" %>
						</div>
					<% end %>
				</li>
			</ul>
		<% end %>
	</div>
	</div>
<% end %>



