<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<% if @usager.enfants.any? && @usager.couple %>
	<h1> Ajouter une rencontre avec la <%="Famille #{@usager.sexe} #{@usager.nom} #{@usager.prenom} et #{@usager.sexe2} #{@usager.nom2} #{@usager.prenom2}" %> </h1>		      
<% elsif @usager.enfants.any? && (not @usager.couple) %>
		  <h1> Ajouter une rencontre avec la <%="Famille #{@usager.sexe} #{@usager.nom} #{@usager.prenom}" %> </h1>
<% elsif (not @usager.enfants.any?) && @usager.couple %>
	<h1> Ajouter une rencontre avec le <%="Couple #{@usager.sexe} #{@usager.nom} #{@usager.prenom} et #{@usager.sexe2} #{@usager.nom2} #{@usager.prenom2}" %> </h1>		      
<% else %>
	<h1> Ajouter une rencontre avec <%="#{@usager.sexe} #{@usager.nom} #{@usager.prenom}" %> </h1>		    
<% end %>


<%= simple_form_for(:rencontres, url: "/rencontres/edit_form/#{@usager.id}", html: { class: "form-inline text-center" }, method: "post") do |f| %>

	<div>
		<h3>Date</h3>
	  	<div class="input-group date" id="datepicker">
      		<%= f.text_field :date, class: 'form-control', data: { date_format: 'DD/MM/YYYY', locale: 'fr' }, value: Date.today.strftime("%d/%m/%Y") %>
      		<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    	</div>
	</div>

	<div>
		<h3>Type</h3>
	  	<%= f.select :type_renc, @types, prompt: "Quel type de rencontre ?", class: 'form-control' %><br>
	</div>

	<hr>

	<div class="btn-group">
		<%= f.submit "Editer", 	class: 'btn btn-info',
	  												id: 'submit',
	  												name: "edit_renc" %>

	  	<%= f.submit "Supprimer", class: 'btn btn-danger',
	  													id: 'submit',
	  													name: "suppr_renc" %>
	</div>
<% end %>