<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
    <%= simple_form_for(@rencontre, url: "/rencontres/edit/#{@rencontre.id}", method: "post") do |f| %>

	<h1>
	    <% if @usager.enfants.any? && @usager.couple %>
	      Modifier la rencontre avec la famille <%= @usager.sexe %> <%= @usager.nom %> <%= @usager.prenom %> et <%= @usager.sexe2 %> <%= @usager.nom2 %> <%= @usager.prenom2 %>
	    <% elsif @usager.enfants.any? && (not @usager.couple) %>
	      Modifier la rencontre avec la famille <%= @usager.sexe %> <%= @usager.nom %> <%= @usager.prenom %>
	    <% elsif (not @usager.enfants.any?) && @usager.couple %>
	      Modifier la rencontre avec le couple <%= @usager.sexe %> <%= @usager.nom %> <%= @usager.prenom %> et <%= @usager.sexe2 %> <%= @usager.nom2 %> <%= @usager.prenom2 %>
	    <% else %>
	      Modifier la rencontre avec <%= @usager.sexe %> <%= @usager.nom %> <%= @usager.prenom %>
	    <% end %>
	    <br>
	    <small>
	      <%= "#{@rencontre.type_renc} du #{@rencontre.date.strftime("%d/%m/%y")}" %>
	      <br><%= "Rencontre créée par #{User.find(@rencontre.user_id).identifiant}" if @rencontre.user_id %>
	    </small>
	</h1>

	<div class="form-horizontal">
	  <div class="part part-hover necessary">
	    <h3>Informations nécessaires</h3>

	    <div class="form-group">
	      <%= f.label :date, class: "control-label col-md-3 col-sm-3 col-xs-3" %>
	      <div class="col-md-9 col-sm-9 col-xs-9 input-group date" id="datepicker">
	        <%= f.text_field :date, class: 'form-control', data: { date_format: 'DD/MM/YYYY', locale: 'fr' }, value: @rencontre.date.strftime("%d/%m/%Y") %>
	        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
	      </div>
	    </div>
	    <div class="form-group">
	      <%= f.label :type_renc, "Type", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
	      <div class="col-md-9 col-sm-9 col-xs-9">	        
	        <%= f.select :type_renc, @types, class: 'form-control', selected: @rencontre.type_renc %>	       
	      </div>
	    </div>
	    <div class="form-group">
	      <%= f.label :ville, class: "control-label col-md-3 col-sm-3 col-xs-3" %>
	      <div class="col-md-9 col-sm-9 col-xs-9">
	        <%= f.select :ville, @villes, class: 'form-control', selected: @rencontre.ville %>
	      </div>
	    </div>
	  </div>
	</div>

	<hr>

	<div class="part part-hover">
	  <h3>Signalement</h3>

	  <div class="row">
	    <div class="col-md-6 col-sm-6 col-xs-6 form-inline">
	      <%= f.label :signale, "Nouveau signalement" %>
	      <%= f.check_box :signale, class: 'form-control check sig' %>
	    </div>

	    <div class="col-md-6 col-sm-6 col-xs-6 appear form-inline">
	      <%= f.label :signalement, "Type" %>
	      <%= f.select :signalement,	[	["Signalement 115", "Signalement 115"],
	                          				  ["Signalement tiers", "Signalement tiers"]],
	                          			prompt: "Quel type de signalement ?",
	                          			class: 'form-control' %>
	    </div>
	  </div>

	  <div class="appear" style="margin-top:20px">
	    <div class="form-horizontal">
	      <div class="form-group">
	        <%= f.label :sig_structure, "Structure (le cas échéant)", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
	        <div class="col-md-9 col-sm-9 col-xs-9">
	          <%= f.text_field :sig_structure, data: {autocomplete_source: Structure.order(:nom).map(&:nom)}, class: 'form-control five-lv' %>
	        </div>
	      </div>
	      <div class="form-group">
	        <%= f.label :sig_contact, "Contact", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
	        <div class="col-md-9 col-sm-9 col-xs-9">
	          <%= f.text_field :sig_contact, class: 'form-control five-lv' %>
	        </div>
	      </div>
	      <div class="form-group">
	        <%= f.label :sig_coords, "Coordonnées", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
	        <div class="col-md-9 col-sm-9 col-xs-9">
	          <%= f.text_area :sig_coords, class: 'form-control five-lv', rows: 2 %>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>

	<hr>

	<div class="part part-hover">
	  <h3>Accompagnement</h3>

	  <div class="row form-inline">
	    <div class="col-md-6 col-sm-6 col-xs-6">
	      <%= f.label :accomp, "Accompagnement" %>
	      <%= f.check_box :accomp, class: 'form-control check sig' %>
	    </div>

	    <div class="col-md-6 col-sm-6 col-xs-6 appear">
	      <%= f.label :type_accomp, "Type" %>
	      <%= f.select :type_accomp, @accomps, prompt: "Quel type d'accompagnement ?", class: 'form-control' %>
	    </div>
	  </div>

	  <div class="appear" style="margin-top:20px">
	    <div class="form-horizontal">
	      <div class="form-group">
	        <%= f.label :accomp_structure, "Structure", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
	        <div class="col-md-9 col-sm-9 col-xs-9">
	          <%= f.text_field :accomp_structure, data: {autocomplete_source: Structure.order(:nom).map(&:nom)}, class: 'form-control five-lv' %>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>

	<hr>

	<div class="part part-hover">
	  <h3>Options</h3>

	  <div class="form-inline">
	    <%= f.label :dnv, "Maraude déplacée mais personne non vue", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
	        <%= f.radio_button :dnv, true, class: 'form-control' %>
	        <%= f.label :dnv, "Oui" %>

	        <%= f.radio_button :dnv, false, class: 'form-control' %>
	        <%= f.label :dnv, "Non" %>
	  </div>

	  <p><br/></p>

	  <div class="form-inline">
	    <%= f.label :tel, "Joint au téléphone (cocher oui seulement si usager non vu)", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
	        <%= f.radio_button :tel, true, class: 'form-control' %>
	        <%= f.label :tel, "Oui" %>
	        <%= f.radio_button :tel, false, class: 'form-control' %>
	        <%= f.label :tel, "Non" %>
	  </div>

	  <p><br/></p>
	  <p><br/></p>

	  <div class="form-inline">
	    <%= f.label :prev, "Rencontre prévisionnelle", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
	        <%= f.radio_button :prev, true, class: 'form-control' %>
	        <%= f.label :prev, "Oui" %>
	        <%= f.radio_button :prev, false, class: 'form-control' %>
	        <%= f.label :prev, "Non" %>
	  </div>

	
	</div>

	<hr>

	<div class="part part-hover">
	  <h3>Détails</h3>
	  <div class="form-group">
	    <%= f.text_area :details, class: 'form-control two-lv', html: {style: 'text-align:center'}, rows:10 %>
	  </div>

	  <% if @usager.enfants.any? %>
	    <div class="form-group">
	      <%= f.label :nb_enf, "Nombre d'enfants vus" %>
	      <%= f.select :nb_enf, @nb_enf, class: 'form-control two-lv', selected: @rencontre.nb_enf %>
	    </div>
	  <% end %>
	</div>

	<hr>


	<div class="part part-hover">
		<h3>Prestations</h3>
		
		<div>
		    <%= f.select :nb_alimentaire, @prop, class: 'form-control two-lv', selected: @rencontre.nb_alimentaire %>
		    <%= f.label :nb_alimentaire, "Nombre de prestations alimentaires" %>
		</div>

	    <div>
	    	<%= f.select :nb_vestiaire, @prop, class: 'form-control two-lv', selected: @rencontre.nb_vestiaire %>
		    <%= f.label :nb_vestiaire, "Nombre de prestations vestiaires" %>
		</div>

		<div>
		 	<%= f.select :nb_hygiene, @prop, class: 'form-control two-lv', selected: @rencontre.nb_hygiene %>
		    <%= f.label :nb_hygiene, "Nombre de prestations hygiènes" %>
		</div>

	  	<div>
			<%= f.select :nb_duvet, @prop, class: 'form-control two-lv', selected: @rencontre.nb_duvet %>
		    <%= f.label :nb_duvet, "Nombre de prestations duvets" %>
		</div>
	</div>

	<hr>

	<div class="text-center">
	  <%= f.submit "Valider les modifications", class: 'btn btn-primary', id: 'submit' %>
	</div>

	<% end %>
  </div>
</div>