<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
    <%= form_for(@rencontre, url: "/rencontres/new/#{@usager.id}", method: :post) do |f| %>

		<% if @usager.enfants.any? && @usager.couple %>
		  <h1> Ajouter une rencontre avec la <%="Famille #{@usager.sexe} #{@usager.nom} #{@usager.prenom} et #{@usager.sexe2} #{@usager.nom2} #{@usager.prenom2}" %> </h1>
		      
		<% elsif @usager.enfants.any? && (not @usager.couple) %>
		  <h1> Ajouter une rencontre avec la <%="Famille #{@usager.sexe} #{@usager.nom} #{@usager.prenom}" %> </h1>

		<% elsif (not @usager.enfants.any?) && @usager.couple %>
		  <h1> Ajouter une rencontre avec le <%="Couple #{@usager.sexe} #{@usager.nom} #{@usager.prenom} et #{@usager.sexe2} #{@usager.nom2} #{@usager.prenom2}" %> </h1>
		      
		<% else %>
		  <h1> Ajouter une rencontre avec <%="#{@usager.sexe} #{@usager.nom} #{@usager.prenom}" %> </h1>
		    
		<% end %>

		<% unless session[:groupe] %>
		  <div class="form-horizontal">
		  <div class="part part-hover necessary">
		      <h3>Informations nécessaires</h3>

		      <div class="form-group">
		        <%= f.label :date, class: "control-label col-md-3 col-sm-3 col-xs-3" %>
		        <div class="col-md-9 col-sm-9 col-xs-9 input-group date" id="datepicker">
		          <%= f.text_field :date, class: 'form-control', data: { date_format: 'DD/MM/YYYY', locale: 'fr' }, value: Date.today.strftime("%d/%m/%Y") %>
		          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
		        </div>
		      </div>
		      <div class="form-group">
		        <%= f.label :type_renc, "Type", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
		        <div class="col-md-9 col-sm-9 col-xs-9">	      
		        	<%= f.select :type_renc, @types, prompt: "Quel type de rencontre ?", class: 'form-control' %>		          
		        </div>
		      </div>
		      <div class="form-group">
		        <%= f.label :ville, class: "control-label col-md-3 col-sm-3 col-xs-3" %>
		        <div class="col-md-9 col-sm-9 col-xs-9">
		          <%= f.select :ville, @villes, class: 'form-control', selected: @usager.ville %>
		        </div>
		      </div>
		    </div>
		  </div>

		  <hr>
		<% end %>

		<div class="part part-hover">
		  <h3>Signalement</h3>

		  <div class="row">
		    <div class="col-md-6 col-sm-6 col-xs-6 form-inline">
		      <%= f.label :signale, "Nouveau signalement" %>
		      <%= f.check_box :signale, class: 'form-control check sig' %>
		    </div>

		    <div class="col-md-6 col-sm-6 col-xs-6 appear form-inline">
		      <%= f.label :signalement, "Type" %>
		      <%= f.select :signalement,  [ ["Signalement 115", "Signalement 115"],
		                                    ["Signalement tiers", "Signalement tiers"]],
		                                    prompt: "Quel type de signalement ?",
		                                    class: 'form-control' %>
		    </div>
		  </div>

		  <div class="appear" style="margin-top:20px">
		    <div class="form-horizontal">
		      <div class="form-group">
		        <%= f.label :sig_structure, "Structure (le cas échéant)", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
		        <div class="col-md-9 col-sm-9 col-xs-9">
		          <%= f.text_field :sig_structure, data: {autocomplete_source: Structure.order(:nom).map(&:nom)}, class: 'form-control five-lv' %>
		        </div>
		      </div>
		      <div class="form-group">
		        <%= f.label :sig_contact, "Contact", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
		        <div class="col-md-9 col-sm-9 col-xs-9">
		          <%= f.text_field :sig_contact, class: 'form-control five-lv' %>
		        </div>
		      </div>
		      <div class="form-group">
		        <%= f.label :sig_coords, "Coordonnées", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
		        <div class="col-md-9 col-sm-9 col-xs-9">
		          <%= f.text_area :sig_coords, class: 'form-control five-lv', rows: 2 %>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>

		<hr>

		<div class="part part-hover">
		  <h3>Accompagnement</h3>

		  <div class="row form-inline">
		    <div class="col-md-6 col-sm-6 col-xs-6">
		      <%= f.label :accomp, "Accompagnement" %>
		      <%= f.check_box :accomp, checked: false, class: 'form-control check sig' %>
		    </div>

		    <div class="col-md-6 col-sm-6 col-xs-6 appear">
		      <%= f.label :type_accomp, "Type" %>
		      <%= f.select :type_accomp, @accomps, prompt: "Quel type d'accompagnement ?", class: 'form-control' %>
		    </div>
		  </div>

		  <div class="appear" style="margin-top:20px">
		    <div class="form-horizontal">
		      <div class="form-group">
		        <%= f.label :accomp_structure, "Structure", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
		        <div class="col-md-9 col-sm-9 col-xs-9">
		          <%= f.text_field :accomp_structure, data: {autocomplete_source: Structure.order(:nom).map(&:nom)}, class: 'form-control five-lv' %>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>

		<hr>

		<div class="part part-hover">
		  <h3>Options</h3>

		  <div class="form-inline">
		    <%= f.label :dnv, "Maraude déplacée mais personne non vue", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
		        <%= f.radio_button :dnv, true, class: 'form-control' %>
		        <%= f.label :dnv, "Oui" %>

		        <%= f.radio_button :dnv, false, :checked => true, class: 'form-control' %>
		        <%= f.label :dnv, "Non" %>
		    </div>

		  <p><br/></p>

		  <div class="form-inline">
		    <%= f.label :tel, "Joint au téléphone (cocher oui seulement si usager non vu)", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
		        <%= f.radio_button :tel, true, class: 'form-control' %>
		        <%= f.label :tel, "Oui" %>
		        <%= f.radio_button :tel, false, :checked => true, class: 'form-control' %>
		        <%= f.label :tel, "Non" %>
		    </div>

		    <p><br/></p>
		    <p><br/></p>

		    <div class="form-inline">
		    <%= f.label :prev, "Rencontre prévisionnelle", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
		        <%= f.radio_button :prev, true, class: 'form-control' %>
		        <%= f.label :prev, "Oui" %>
		        <%= f.radio_button :prev, false, :checked => true, class: 'form-control' %>
		        <%= f.label :prev, "Non" %>
		    </div>
		</div>

		<hr>

		<div class="part part-hover">
		  <h3>Détails</h3>
		  <div class="form-group">
		    <%= f.text_area :details, class: 'form-control two-lv', html: {style: 'text-align:center'}, rows: 10 %>
		  </div>

		  <% if @usager.enfants.any? %>
		    <div class="form-group">
		      <%= f.label :nb_enf, "Nombre d'enfants vus" %>
		      <%= f.select :nb_enf, @nb_enf, class: 'form-control two-lv' %>
		    </div>
		  <% end %>
		</div>

		<hr>

		<div class="part part-hover">
		  <h3>Prestations</h3>
		
		  <div>
			<%= f.select :nb_alimentaire, @prop, class: 'form-control two-lv' %>
		    <%= f.label :nb_alimentaire, "Nombre de prestations alimentaires" %>
		  </div>

	      <div>
	    	<%= f.select :nb_vestiaire, @prop, class: 'form-control two-lv' %>
		    <%= f.label :nb_vestiaire, "Nombre de prestations vestiaires" %>
		  </div>

		  <div>
		 	<%= f.select :nb_hygiene, @prop, class: 'form-control two-lv' %>
		    <%= f.label :nb_hygiene, "Nombre de prestations hygiènes" %>
		  </div>

	  	  <div>
			<%= f.select :nb_duvet, @prop, class: 'form-control two-lv' %>
		    <%= f.label :nb_duvet, "Nombre de prestations duvets" %>
		  </div>

		</div>

		<hr>

		<div class="text-center">
		  <div class="btn-group">
		    <%= f.submit "Valider la rencontre", class: 'btn btn-primary', id: 'submit' %>

		    <% if Usager.maximum("id") == @usager.id %>
		      <%= link_to "Pas besoin", "/usagers/#{@usager.id}", class: "btn btn-danger" %>
		    <% end %>
		  </div>
		</div>

	<% end %>
  </div>
</div>