<h3>Rencontre avec d'autres usagers du groupe "<%= @groupe.nom %>" sur la même intervention ?</h3>

<%= form_for(:rencontre, url: "/rencontres/groupe/#{@usager.id}", method: "POST") do |f| %>

  <% for usager in @usagers do %>
    <%= f.check_box :usagers, { :multiple => true, :checked => false }, usager.id %>
    <% if usager.enfants.any? && usager.couple %>
    	<%= "Famille #{usager.sexe} #{usager.nom} #{usager.prenom} et #{usager.sexe2} #{usager.nom2} #{usager.prenom2}" %><br>
    <% elsif usager.enfants.any? && (not usager.couple) %>
    	<%= "Famille #{usager.sexe} #{usager.nom} #{usager.prenom}" %><br>
    <% elsif (not usager.enfants.any?) && usager.couple %>
    	<%= "Couple #{usager.sexe} #{usager.nom} #{usager.prenom} et #{usager.sexe2} #{usager.nom2} #{usager.prenom2}" %><br>
    <% else %>
    	<%= "#{usager.sexe} #{usager.nom} #{usager.prenom}" %><br>
    <% end %>

  <% end %>

  <div class="text-center" style="margin-top: 30px">
  	<%= f.submit "Valider", class: "btn btn-primary" %>
  </div>
<% end %>

