@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
  padding-bottom: 100px;
}

abbr[title="required"] {
  display: none;
}

pre {
  white-space: pre-wrap;
}

/* header */

ul.navtop li.navtop-icon {
  display: none;
}

/* When the screen is less than 768 pixels wide, hide all list items, except for the first one and the icon. */
@media screen and (max-width:768px) {
  ul.navtop li:not(:first-child) {display: none;}
  ul.navtop li:first-child {
    float: left;
    display: inline-block;
  }
  ul.navtop li.navtop-icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added. */
@media screen and (max-width:768px) {
  ul.navtop.responsive {position: relative;}
  ul.navtop.responsive li.navtop-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.navtop.responsive li {
    float: none;
    display: inline;
  }
  ul.navtop.responsive li a {
    display: block;
    text-align: left;
  }
}

/* footer */

ul.navbot li.navbot-icon {
  display: none;
}

  /* When the screen is less than 768 pixels wide, hide all list items, except for the first one and the icon. */
@media screen and (max-width:768px) {
  ul.navbot li:not(:first-child) {display: none;}
  ul.navbot li:first-child {
    float: left;
    display: inline-block;
  }
  ul.navbot li.navbot-icon {
    float: right;
    display: inline-block;
  }
}

  /* The "responsive" class is added. */
@media screen and (max-width:768px) {
  ul.navbot.responsive {position: relative;}
  ul.navbot.responsive li.navbot-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.navbot.responsive li {
    float: none;
    display: inline;
  }
  ul.navbot.responsive li a {
    display: block;
    text-align: left;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h3#ville-actuelle {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  margin-top: 60px;
  text-align: center;
  a.btn-lg {
    font-size: 1em;
    letter-spacing: -2px;
  }
}

label.h1 {
  font-size: 3em;
  letter-spacing: -2px;
  text-align: center;
}

pre {
  background-color: #eee;
  &.maraude-list {
    font-family: Helvetica;
    background-color: transparent;
    border-style: none;
  }
}

tr.tr-center {
  text-align:center;
}

#no-styling {
  text-decoration: none;
  color: white;
  padding: 50px;
}

/* indexes */

.table-hover tr.pqi:hover th,
.table-hover tr.pqi:hover td {
  background-color: rgba(144,238,144,0.35);
}

.table-hover tr.no-pqi:hover th,
.table-hover tr.no-pqi:hover td {
  background-color: rgba(205,92,92,0.25);
}

div.usager, div.groupe, div.structure {
    margin-bottom: 60px;
}

div.usagers-vus {
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #eee;
  padding: 10px 20px 30px 20px;
  margin-bottom: 40px;
  h3 {
    margin-bottom: 30px;
  }
  form div.usager-vu {
    padding: 10px;
    margin: 10px 20px;
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 6px;
    transition: 0.4s;
    &:hover {
      background-color: #ccc;
    }
  }
}

/* pqi */

#table-pqi, th {
  border: 1px solid black;
  width: 8%;
  text-align: center;
}

div#container-villes {
    width: 100%;
    overflow: auto;
    margin-top: 60px;
    ul.villes {
        padding: 0;
        margin: 0;
        text-align: center;
        li {
            display: inline-block;
            margin: 5px 0;
            a {
                display: inline-block;
                width: 160px;
                text-align: center;
                background-color: #bbb;
                color: black;
                line-height: 3;
                text-decoration: none;
                border-radius: 4px 4px 0 0;
                &:hover {
                    background-color: #f0ad4e;
                }
            }
        }
  }
}

/* accordion */
.ui-accordion {
    .ui-accordion-header {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: 1px solid #eee;
        border-radius: 6px;
        outline: none;
        transition: 0.4s;
        &:hover {
            background-color: #ccc;
            border: 1px solid #ccc;
        }
    }
    &.renc-prev {
        .ui-accordion-header {
            background-color: white;
            margin: 0;
            border: 1px solid white;
            border-bottom: none;
            border-radius: 6px 6px 0 0;
            transition: 0.4s;
            &.accordion-header-active {
                border: 1px solid #ccc;
                border-bottom: none;
            }
        }
        .ui-accordion-content {
            border: 1px solid white;
            border-top: none;
            border-radius: 0 0 6px 6px;
            padding-top: 10px;
            transition: 0.4s;
            &.accordion-content-active {
                border: 1px solid #ccc;
                border-top: none;
            }
        }
        &:hover {
            .ui-accordion-header {
                background-color: #ccc;
            }
            .ui-accordion-content {
                border: 1px solid #ccc;
                border-top: none;
            }
        }
    }
}

/* forms */

ul#enfants li {
    display: block;
}

blockquote#enfants {
    font-size: 14px;
}

ul#intervenants li {
    display: block;
}

blockquote#intervenants {
    font-size: 14px;
}

div.part {
    padding: 10px 40px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 6px;
    background-color: white;
    transition: 0.4s;
    &.necessary {
        border: 1px solid rgba(176,196,222,0.3);
        background-color: rgba(176,196,222,0.3);
    }
    h3 {
        padding-bottom: 30px;
    }
    &.part-hover:hover {
        border: 1px solid #eee;
        background-color: #eee;
    }
    &.part-hover.necessary:hover {
        border: 1px solid rgb(176,196,222);
        background-color: rgb(176,196,222);
    }
    &.part-hover.focused {
        border: 1px solid #ccc;
        background-color: #ccc;
    }
    &.part-hover.necessary.focused {
        border: 1px solid rgb(176,196,222);
        background-color: rgb(176,196,222);
    }
}

.navbar.navbar-search {
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 20px 0 5px 20px;
}

div.submit-btn {
    margin-top: 20px;
}

/* Tabs */

.ui-tabs {
  width: 100%;
  overflow: visible;
  border: 1px solid #eee;
  border-radius: 6px;
  .ui-tabs-nav {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #eee;
    border-radius: 6px 6px 0 0;
    padding: 10px 10px 0 10px;
    background-color: #ccc;
    a#edit-comp-link {
      float: right;
    }
    li {
      display: inline-block;
      a {
        width: 100%;
        background-color: #eee;
        border-radius: 6px 6px 0 0;
        padding: 10px 10px;
        line-height: 3;
        text-decoration: none;
        color: gray;
        transition: 0.4s;
        border: none;
        outline: none;
        font-size: 14px;
        margin-top: 20px;
        font-family: inherit;
        font-weight: 500;
        &:hover {
          background-color: #ccc;
          color: inherit;
        }
      }
    }
    .ui-tabs-active a {
      background-color: #ccc;
      color: inherit;
    }
  }
  .ui-tabs-panel {
    padding: 10px;
    background-color: #eee;
  }
}

/* Checkbox display */

input.check, span {
  visibility: visible;
  opacity: 1;
  transition: 0.4s ease-in-out;
  &.no-disp {
    visibility: hidden;
    opacity: 0;
  }
}

div.appear {
  overflow: hidden;
  opacity: 0;
  transition: 0.4s ease-in-out;
  max-height: 0px;
  &.disp {
    opacity: 1;
    max-height: 300px;
    overflow: visible;
  }
}

/* buttons */

.btn {
  letter-spacing: 0px;
}

/* listes */

div.liste {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding-bottom: 30px;
    h3 {
        margin-bottom: 50px;
    }
    ul {
        list-style: none;
        padding-right: 40px;
    }
}

/* tooltip */

div.tooltip {
  div.tooltip-inner {
    letter-spacing: 0px;
  }
}