<div class="row">
	<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
		<%= form_for(@groupe, url: "/groupes/edit/#{@groupe.id}", method: "post") do |f| %>
				<div class="form-group text-center">
		      <%= f.label :nom, "Groupe", class: "h1" %>
		      <%= f.text_field :nom, class: 'form-control input-lg' %>
		    </div>
				<div class="text-center submit-btn">
					<%= f.submit "Modifier nom", class: "btn btn-primary" %>
				</div>
		<% end %>
	</div>
</div>