<h1>Index des groupes</h1>

<%= form_tag(groupes_path, :method => "get", id: "search-form", role: 'search', class: "navbar navbar-search") do %>
  <div class="form-group col-md-4 col-sm-4 col-xs-4">
    <%= text_field_tag :search, params[:search], placeholder: "Rechercher des groupes", class: 'form-control' %>
  </div>
  <%= submit_tag "Rechercher", class: 'btn btn-default' %>
<% end %>

<% if !@groupes.empty? %>
  <div class="row groupes">
    <% @groupes.each do |g| %>
      <div class="col-md-3 col-sm-3 col-xs-3 lead groupe">
  	    <%= link_to "#{g.nom}", "/groupes/show/#{g.id}" %>
        <span class="badge"><%= g.usagers.count %></span>
      </div>
    <% end %>
    <hr>
  </div>
<% else %>
  <p class="lead text-center">Aucun groupe correspondant au(x) terme(s) : "<%= params[:search] %>".</p>
<% end %>

<%= will_paginate %>