<h1>
    <% unless @current_user.benev? %>
      <%= link_to @groupe.nom, "/groupes/edit/#{@groupe.id}" ,
                              class: "btn btn-info btn-lg",
                              'data-toggle' => "tooltip",
                              'data-placement' => "bottom",
                              title: "Editer" %>
    <% else %>
      <%= @groupe.nom %>
    <% end %>
</h1>
<h1>
  <small><%= pluralize(@groupe.usagers.count, "membre") %></small>
</h1>

<div class="row usagers">
  <% @usagers.each do |u| %>
    <div class="col-md-3 col-sm-3 col-xs-3 lead usager">
      <% if u.enfants.any? && u.couple %>
          <%= link_to "Famille #{u.sexe} #{u.nom} #{u.prenom} et #{u.sexe2} #{u.nom2} #{u.prenom2}", "/usagers/#{u.id}" %>
      <% elsif u.enfants.any? && (not u.couple) %>
          <%= link_to "Famille #{u.sexe} #{u.nom} #{u.prenom}", "/usagers/#{u.id}" %>
      <% elsif (not u.enfants.any?) && u.couple %>
        <%= link_to "Couple #{u.sexe} #{u.nom} #{u.prenom} et #{u.sexe2} #{u.nom2} #{u.prenom2}", "/usagers/#{u.id}" %>
      <% else %>
        <%= link_to "#{u.sexe} #{u.nom} #{u.prenom}", "/usagers/#{u.id}" %>
      <% end %>
      
      <% if u.enfants.any? %>
        <ul class="enfants">
          <% u.enfants.each do |e| %>
            <li>
              <%= e.nom %> <%= e.prenom %>, <%= e.sexe.downcase unless e.sexe.nil? %> 
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
  <hr>
</div>

<% if @current_user.admin? %>
  <div class="text-right lead">
    <%= link_to "Supprimer le groupe",  "/groupes/edit/#{@groupe.id}",
                                        method: :delete,
                                        data: { confirm: "Etes-vous sûr(e) ?" },
                                        class: "btn btn-danger" %>
  </div>
<% end %>
