<%= form_for(:stat, url: stats_path) do |f| %>	  
	<div class="form-horizontal">
		<div class="part part-hover">
			<div class="form-group">
	    	<%= f.label :date_deb, "Début de la période", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
	      <div class="col-md-9 col-sm-9 col-xs-9 input-group date" id="datepicker">
	        <%= f.text_field :date_deb, class: 'form-control', data: { date_format: 'DD/MM/YYYY', locale: 'fr' } %>
	        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
	      </div>
	    </div>
	   	<div class="form-group">
	    	<%= f.label :date_fin, "Fin de la période", class: "control-label col-md-3 col-sm-3 col-xs-3" %>
	      <div class="col-md-9 col-sm-9 col-xs-9 input-group date" id="datepicker">
	        <%= f.text_field :date_fin, class: 'form-control', data: { date_format: 'DD/MM/YYYY', locale: 'fr' } %>
	        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
	      </div>
	    </div>
	    <div class="row">
	    	<h3>Choix des villes</h3>
	    	<h5>si vous n'en selectionnez aucune, elles seront automatiquement toutes selectionnées <br/><br/><br/></h5>

    		<div class="col-md-4 col-sm-4 col-xs-4">
      			<% for ville in @villes[0..((@villes.length/3).floor-1)] do %>
          			<%= f.check_box :villes, { :multiple => true, :checked => false }, "#{ville.first}" %>
          			<%= ville.first %><br>
      			<% end %>
    		</div>
    		<div class="col-md-4 col-sm-4 col-xs-4">
      			<% for ville in @villes[((@villes.length/3).floor)..(((@villes.length/3)*2).floor-1)] do %>      
          			<%= f.check_box :villes, { :multiple => true, :checked => false }, "#{ville.first}" %>
          			<%= ville.first %><br>
      			<% end %>
    		</div>
    		<div class="col-md-4 col-sm-4 col-xs-4">
      			<% for ville in @villes[(((@villes.length/3).floor)*2)..(@villes.length - 1)] do %>
          			<%= f.check_box :villes, { :multiple => true, :checked => false }, "#{ville.first}" %>
          			<%= ville.first %><br>
        		<% end %>
    		</div>
 		</div>
 		<br/> <br/> <br/>
 		<div class="row">
	    	<h3>Choix des types de rencontre</h3>
	    	<h5>si vous n'en selectionnez aucun, ils seront automatiquement tous selectionnés <br/><br/><br/></h5>

    		<div class="col-md-4 col-sm-4 col-xs-4">
      			<% for type in @types[0..((@types.length/3).floor-1)] do %>
          			<%= f.check_box :types, { :multiple => true, :checked => false }, "#{type.first}" %>
          			<%= type.first %><br>
      			<% end %>
    		</div>
    		<div class="col-md-4 col-sm-4 col-xs-4">
      			<% for type in @types[((@types.length/3).floor)..(((@types.length/3)*2).floor - 1)] do %>      
          			<%= f.check_box :types, { :multiple => true, :checked => false }, "#{type.first}" %>
          			<%= type.first %><br>
      			<% end %>
    		</div>
    		<div class="col-md-4 col-sm-4 col-xs-4">
      			<% for type in @types[(((@types.length/3).floor)*2)..(@types.length - 1)] do %>
          			<%= f.check_box :types, { :multiple => true, :checked => false }, "#{type.first}" %>
          			<%= type.first %><br>
        		<% end %>
    		</div>
 		</div>
	  <br/> <br/> <br/>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6 form-inline">
        <%= f.label :signale, "Uniquement signalement" %>
        <%= f.check_box :signale, :checked => false, class: 'form-control check sig' %>
      </div>

      <div class="col-md-6 col-sm-6 col-xs-6 appear form-inline">
        <h5>si vous n'en selectionnez aucun, ils seront automatiquement tous selectionnés</h5>
        <%= f.check_box :signalement, { :multiple => true, :checked => false }, "Signalement 115" %>
        <%= "Signalement 115" %><br/>
        <%= f.check_box :signalement, { :multiple => true, :checked => false }, "Signalement tiers" %>
        <%= "Signalement tiers" %>
      </div>
    </div>
    <br/> <br/> <br/>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6 form-inline">
        <%= f.label :exploration, "Uniquement les maraudes exploratoires" %>
        <%= f.check_box :exploration, :checked => false %>
      </div>
    </div>
    <br/> <br/> <br/>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6 form-inline">
        <%= f.label :nouveau, "Uniquement les personnes nouvelles" %>
        <%= f.check_box :nouveau, :checked => false %>
      </div>
    </div>
    <br/> <br/> <br/>

	    <div class="form-group text-center">
		  	<%= f.submit "Valider", class: "btn btn-primary" %>
			</div>
    </div>
	</div>
<% end %>