<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


<% provide(:title, "Statistiques") %>

<div id="no-print">
  <h1>Statistiques</h1>
  
  <h3>Effectuer une recherche par période, par ensemble de villes et par ensemble de types de rencontre</h3>

  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
      <%= render 'form' %>
    </div>
  </div>
</div>

<% if !@dates.nil? %> 

  <div id="pqi-print">
    <h3 class="text-center">
      <%= "Statistiques du #{@dates.first} au #{@dates.last} pour les rencontres: #{@type.join(",\n")}."%>
      <br/>
      <br />
      <% if @nouveau %>
        <%= "Ces stats ne concernent que les ménages nouveaux lors de cette période." %>
        <br/>
        <br/>
      <% end %>
      <% if @exploration %>
        <%= "Ces stats ne concernent que les maraudes exploratoires." %>
        <br />
        <br />
      <% end %>
      <% if @signale %>
        <%= "Ces stats ne concernent que les signalements: #{@signalement.first}"%>
        <% if @signalement.size > 1 %>
          <%= "et #{@signalement.last}" %>
        <% end %>
        <%= "."%>
        <br/>
        <br />
      <% end %>

      <% #attention onclick: "printage()" à modifier sur la nouvelle version %>

      <%= link_to image_tag("print.png", alt: "Imprimer", width: 30, length: 30), '#', onclick: "window.print();", id: 'print-link', class: "btn" %>
    </h3>

    <table class="stats table table-responsive table-striped">
      <tr id="table-head">
        <th>Ville</th>
        <th>Nb maraudes passées sur la ville</th>
        <th>Nb ménages rencontrés <br/>(Nb personnes représentées)</th>
        <th>Nb ménages différents rencontrés <br/>(Nb personnes représentées)</th>
        <th>Nb ménages non vu sur déplacement <br/>(Nb personnes représentées)</th>
        <th>Nb ménages différents non vu sur déplacement <br/>(Nb personnes représentées)</th>
        <th>Nb ménages non vu joint au téléphone <br/>(Nb personnes représentées)</th>
        <th>Nb ménages différents non vu joint au téléphone <br/>(Nb personnes représentées)</th>
      </tr>

      <% @ville.each do |ville| %>
        <tr>
          <th>
            <% if ville == @ville.last %>
              <%= "Total" %>
            <% else %>
              <%= ville %>
            <% end %>
          </th>

          <% if @nouveau && @signale %>  

            <% u = Usager.where("created_at": (Date.parse(@dates.first.split('/').reverse.join('-')))..(Date.parse(@dates.last.split('/').reverse.join('-')))) %>
            <% if @exploration %>
              <% r = Rencontre.where(user_id: u, signale: true, explo: true, signalement: @signalement, ville: ville, type_renc:@type, date: (Date.parse(@dates.first.split('/').reverse.join('-')))..(Date.parse(@dates.last.split('/').reverse.join('-')))) %>
            <% else %>
              <% r = Rencontre.where(user_id: u, signale: true, signalement: @signalement, ville: ville, type_renc:@type, date: (Date.parse(@dates.first.split('/').reverse.join('-')))..(Date.parse(@dates.last.split('/').reverse.join('-')))) %>
            <% end %>

          <% elsif @nouveau && (not @signale) %>

            <% u = Usager.where("created_at": (Date.parse(@dates.first.split('/').reverse.join('-')))..(Date.parse(@dates.last.split('/').reverse.join('-')))) %>
            <% if @exploration %>
              <% r = Rencontre.where(user_id: u, ville: ville, explo: true, type_renc:@type, date: (Date.parse(@dates.first.split('/').reverse.join('-')))..(Date.parse(@dates.last.split('/').reverse.join('-')))) %>
            <% else %>
              <% r = Rencontre.where(user_id: u, ville: ville, type_renc:@type, date: (Date.parse(@dates.first.split('/').reverse.join('-')))..(Date.parse(@dates.last.split('/').reverse.join('-')))) %>
            <% end %>

          <% elsif (not @nouveau) && @signale %>
              
            <% if @exploration %>
              <% r = Rencontre.where(signale: true, explo:true, signalement: @signalement, ville: ville, type_renc:@type, date: (Date.parse(@dates.first.split('/').reverse.join('-')))..(Date.parse(@dates.last.split('/').reverse.join('-')))) %>
            <% else %>
              <% r = Rencontre.where(signale: true, signalement: @signalement, ville: ville, type_renc:@type, date: (Date.parse(@dates.first.split('/').reverse.join('-')))..(Date.parse(@dates.last.split('/').reverse.join('-')))) %>
            <% end %>
            
          <% else %>

            <% if @exploration %>
              <% r = Rencontre.where(ville: ville, explo: true, type_renc:@type, date: (Date.parse(@dates.first.split('/').reverse.join('-')))..(Date.parse(@dates.last.split('/').reverse.join('-')))) %>
            <% else %>
              <% r = Rencontre.where(ville: ville, type_renc:@type, date: (Date.parse(@dates.first.split('/').reverse.join('-')))..(Date.parse(@dates.last.split('/').reverse.join('-')))) %>
            <% end %>

          <% end %>

         



          <td> 
            <% compteur = 0 %>
            <% r.where(prev: false, dnv:true).select('date', 'type_renc').distinct().each do |renc| %>
              <% compteur += 1 %>
            <% end %>
            <% r.where(prev: false, dnv:false, tel:false).select('date', 'type_renc').distinct().each do |renc| %>
              <% compteur += 1 %>
            <% end %>
            <%= compteur %>                  
          </td>

          <td>
            <% compteur1 = 0 %>
            <% compteur2 = 0 %>
            <% r.where(tel: false, prev: false, dnv: false).select('usager_id').each do |renc| %>
              <% compteur1 += 1 %>
              <% if Usager.find(renc.usager_id).couple %>
                <% compteur2 = compteur2 + 2 + Usager.find(renc.usager_id).enfants.count %>
              <% else %>
                <% compteur2 = compteur2 + 1 + Usager.find(renc.usager_id).enfants.count %>
              <% end %>
            <% end %>
            <%= "#{compteur1} (#{compteur2})" %> 
          </td>

          <td>
            <% compteur1 = 0 %>
            <% compteur2 = 0 %>
            <% r.where(tel:false, prev:false, dnv: false).select('usager_id').distinct().each do |renc| %>
              <% compteur1 += 1 %>
              <% if Usager.find(renc.usager_id).couple %>
                <% compteur2 = compteur2 + 2 + Usager.find(renc.usager_id).enfants.count %>
              <% else %>
                <% compteur2 = compteur2 + 1 + Usager.find(renc.usager_id).enfants.count %>
              <% end %>
            <% end %>

            <% if ville == @ville.last %>
              <a href='/stats/total/1'> <%= "#{compteur1} (#{compteur2})" %> </a>
            <% else %>
              <a href='/stats/<%= ville %>/1'> <%= "#{compteur1} (#{compteur2})" %> </a>
            <% end %>
          </td>

          <td>
            <% compteur1 = 0 %>
            <% compteur2 = 0 %>
            <% r.where(dnv: true, prev:false).select('usager_id').each do |renc| %>
              <% compteur1 += 1 %>
              <% if Usager.find(renc.usager_id).couple %>
                <% compteur2 = compteur2 + 2 + Usager.find(renc.usager_id).enfants.count %>
              <% else %>
                <% compteur2 = compteur2 + 1 + Usager.find(renc.usager_id).enfants.count %>
              <% end %>
            <% end %>
            <%= "#{compteur1} (#{compteur2})" %> 
          </td>

          <td>
            <% compteur1 = 0 %>
            <% compteur2 = 0 %>
            <% r.where(dnv: true, prev:false).select('usager_id').distinct().each do |renc| %>
              <% compteur1 += 1 %>
              <% if Usager.find(renc.usager_id).couple %>
                <% compteur2 = compteur2 + 2 + Usager.find(renc.usager_id).enfants.count %>
              <% else %>
                <% compteur2 = compteur2 + 1 + Usager.find(renc.usager_id).enfants.count %>
              <% end %>
            <% end %>

            <% if ville == @ville.last %>
              <a href='/stats/total/2'> <%= "#{compteur1} (#{compteur2})" %> </a>
            <% else %>
              <a href='/stats/<%= ville %>/2'> <%= "#{compteur1} (#{compteur2})" %> </a>
            <% end %>
          </td>

          <td>
            <% compteur1 = 0 %>
            <% compteur2 = 0 %>
            <% r.where(tel: true, prev:false).select('usager_id').each do |renc| %>
              <% compteur1 += 1 %>
              <% if Usager.find(renc.usager_id).couple %>
                <% compteur2 = compteur2 + 2 + Usager.find(renc.usager_id).enfants.count %>
              <% else %>
                <% compteur2 = compteur2 + 1 + Usager.find(renc.usager_id).enfants.count %>
              <% end %>
            <% end %>
            <%= "#{compteur1} (#{compteur2})" %> 
          </td>

          <td>
            <% compteur1 = 0 %>
            <% compteur2 = 0 %>
            <% r.where(tel: true, prev:false).select('usager_id').distinct().each do |renc| %>
              <% compteur1 += 1 %>
              <% if Usager.find(renc.usager_id).couple %>
                <% compteur2 = compteur2 + 2 + Usager.find(renc.usager_id).enfants.count %>
              <% else %>
                <% compteur2 = compteur2 + 1 + Usager.find(renc.usager_id).enfants.count %>
              <% end %>
            <% end %>
            <% if ville == @ville.last %>
              <a href='/stats/total/3'> <%= "#{compteur1} (#{compteur2})" %> </a>
            <% else %>
              <a href='/stats/<%= ville %>/3'> <%= "#{compteur1} (#{compteur2})" %> </a>
            <% end %>
          </td>

        </tr>
      <% end %>
    </table>

    <table class="stats table table-responsive table-striped">
      <tr id="table-head">
        <th>Ville</th>
        <th>Nb prestations <br/>(Nb alimentaire/<br/>Nb vestiaire/<br/>Nb duvet/<br/>Nb hygiène)</th>
        <th>Nb familles rencontrées <br/>(Nb personnes représentées)</th>
        <th>Nb familles différentes rencontrées <br/>(Nb personnes représentées)</th>
        <th>Nb Couples rencontrés <br/>(Nb personnes représentées)</th>
        <th>Nb Couples différents rencontrés <br/>(Nb personnes représentées)</th>
        <th>Nb personnes seules rencontrées <br/>(Nb Homme/<br/>Nb Femme)</th>
        <th>Nb personnes seules rencontrées différentes <br/>(Nb Homme/<br/>Nb Femme)</th>
      </tr>

      <% @ville.each do |ville| %>
        <tr>
          <th>
            <% if ville == @ville.last %>
              <%= "Total" %>
            <% else %>
              <%= ville %>
            <% end %>
          </th>

          <% if @nouveau && @signale %>  

            <% u = Usager.where("created_at": (Date.parse(@dates.first.split('/').reverse.join('-')))..(Date.parse(@dates.last.split('/').reverse.join('-')))) %>
            <% if @exploration %>
              <% r = Rencontre.where(user_id: u, signale: true, explo: true, signalement: @signalement, prev:false, ville: ville, type_renc:@type, date: (Date.parse(@dates.first.split('/').reverse.join('-')))..(Date.parse(@dates.last.split('/').reverse.join('-')))) %>
            <% else %>
              <% r = Rencontre.where(user_id: u, signale: true, signalement: @signalement, prev:false, ville: ville, type_renc:@type, date: (Date.parse(@dates.first.split('/').reverse.join('-')))..(Date.parse(@dates.last.split('/').reverse.join('-')))) %>
            <% end %>

          <% elsif @nouveau && (not @signale) %>

            <% u = Usager.where("created_at": (Date.parse(@dates.first.split('/').reverse.join('-')))..(Date.parse(@dates.last.split('/').reverse.join('-')))) %>
            <% if @exploration %>
              <% r = Rencontre.where(user_id: u, ville: ville, explo: true, type_renc:@type, prev:false, date: (Date.parse(@dates.first.split('/').reverse.join('-')))..(Date.parse(@dates.last.split('/').reverse.join('-')))) %>
            <% else %>
              <% r = Rencontre.where(user_id: u, ville: ville, type_renc:@type, prev:false, date: (Date.parse(@dates.first.split('/').reverse.join('-')))..(Date.parse(@dates.last.split('/').reverse.join('-')))) %>
            <% end %>

          <% elsif (not @nouveau) && @signale %>
              
            <% if @exploration %>
              <% r = Rencontre.where(signale: true, explo:true, prev:false, signalement: @signalement, ville: ville, type_renc:@type, date: (Date.parse(@dates.first.split('/').reverse.join('-')))..(Date.parse(@dates.last.split('/').reverse.join('-')))) %>
            <% else %>
              <% r = Rencontre.where(signale: true, prev:false, signalement: @signalement, ville: ville, type_renc:@type, date: (Date.parse(@dates.first.split('/').reverse.join('-')))..(Date.parse(@dates.last.split('/').reverse.join('-')))) %>
            <% end %>
            
          <% else %>

            <% if @exploration %>
              <% r = Rencontre.where(ville: ville, explo: true, type_renc:@type, prev:false, date: (Date.parse(@dates.first.split('/').reverse.join('-')))..(Date.parse(@dates.last.split('/').reverse.join('-')))) %>
            <% else %>
              <% r = Rencontre.where(ville: ville, type_renc:@type, prev:false, date: (Date.parse(@dates.first.split('/').reverse.join('-')))..(Date.parse(@dates.last.split('/').reverse.join('-')))) %>
            <% end %>

          <% end %>

          <td>
            <% a = 0 %>
            <% v = 0 %>
            <% d = 0 %>
            <% h = 0 %>
            <% t = 0 %>
            <% r.each do |renc| %>
                <% a = a+renc.nb_alimentaire %>          
                <% v = v+renc.nb_vestiaire %>             
                <% d = d+renc.nb_duvet %>             
                <% h = h+renc.nb_hygiene %>             
            <% end %>

            <%= "#{a+v+d+h}(#{a}/#{v}/#{d}/#{h})" %>
          </td>


            <% compteur1 = 0 %>
            <% compteur2 = 0 %>
            <% compteur3 = 0 %>
            <% compteur4 = 0 %>
            <% compteur5 = 0 %>
            <% compteur6 = 0 %>
            <% compteur7 = 0 %>
            <% compteur8 = 0 %>
            <% compteur9 = 0 %>
            <% compteur10 = 0 %>
            <% compteur11= 0 %>
            <% compteur12 = 0 %>
            <% compteur13 = 0 %>
            <% compteur14 = 0 %>
            
            <% r.where(tel: false, dnv: false).select('usager_id').each do |renc| %>
              <% if Usager.find(renc.usager_id).enfants.count > 0 %>
                <% compteur1 = compteur1 + 1 %>
                <% if Usager.find(renc.usager_id).couple %>
                  <% compteur2 = compteur2 + 2 + Usager.find(renc.usager_id).enfants.count %>
                <% else %>
                  <% compteur2 = compteur2 + 1 + Usager.find(renc.usager_id).enfants.count %>
                <% end %>
              <% elsif Usager.find(renc.usager_id).couple %>
                <% compteur3 = compteur3 + 1 %>
                <% compteur4 = compteur4 + 2 %>
              <% else %>
                <% compteur5 = compteur5 + 1 %>
                <% if Usager.find(renc.usager_id).sexe=="Mr" %>
                  <% compteur6 = compteur6 + 1 %>
                <% else %>
                  <% compteur7 = compteur7 + 1 %>
                <% end %> 
              <% end %>
            <% end %>

            <% r.where(tel: false, dnv: false).select('usager_id').distinct().each do |renc| %>
              <% if Usager.find(renc.usager_id).enfants.count > 0 %>
                <% compteur8 = compteur8 + 1 %>
                <% if Usager.find(renc.usager_id).couple %>
                  <% compteur9 = compteur9 + 2 + Usager.find(renc.usager_id).enfants.count %>
                <% else %>
                  <% compteur9 = compteur9 + 1 + Usager.find(renc.usager_id).enfants.count %>
                <% end %>
              <% elsif Usager.find(renc.usager_id).couple %>
                <% compteur10 = compteur10 + 1 %>
                <% compteur11 = compteur11 + 2 %>
              <% else %>
                <% compteur12 = compteur12 + 1 %>
                <% if Usager.find(renc.usager_id).sexe=="Mr" %>
                  <% compteur13 = compteur13 + 1 %>
                <% else %>
                  <% compteur14 = compteur14 + 1 %>
                <% end %> 
              <% end %>
            <% end %>
           

          <td>
            <%= "#{compteur1}(#{compteur2})" %>
          </td>

          <td>
            <% if ville == @ville.last %>
              <a href='/stats/total/4'> <%= "#{compteur8} (#{compteur9})" %> </a>
            <% else %>
              <a href='/stats/<%= ville %>/4'> <%= "#{compteur8} (#{compteur9})" %> </a>
            <% end %>
          </td>

          <td>
            <%= "#{compteur3}(#{compteur4})" %>
          </td>

          <td>
            <% if ville == @ville.last %>
              <a href='/stats/total/5'> <%= "#{compteur10} (#{compteur11})" %> </a>
            <% else %>
              <a href='/stats/<%= ville %>/5'> <%= "#{compteur10} (#{compteur11})" %> </a>
            <% end %>
          </td>

          <td>
            <%= "#{compteur5}(#{compteur6}/#{compteur7})" %>
          </td>

          <td>
            <% if ville == @ville.last %>
              <a href='/stats/total/6'> <%= "#{compteur12}(#{compteur13}/#{compteur14})" %> </a>
            <% else %>
              <a href='/stats/<%= ville %>/6'> <%= "#{compteur12}(#{compteur13}/#{compteur14})" %> </a>
            <% end %>
          </td>

        </tr>
      <%end%>
    </table>



  </div>

  <div id="no-print" >

    <hr>
    
    <h3 class="text-center"> <%= "Nombre de demandes d'hébergement exprimées du #{@dates.first} au #{@dates.last}."%> </h3> 
    <br/>
    <a href='/stats/total/7'> <%= "#{Usager.where(date_dmde: (Date.parse(@dates.first.split('/').reverse.join('-')))..(Date.parse(@dates.last.split('/').reverse.join('-')))).count} demandes" %> </a>
    <br/>

    <h3 class="text-center"> <%= "Nombre de demandes d'hébergement exprimées ayant donné lieu à une orientation effective sur une place d’hébergement du #{@dates.first} au #{@dates.last}."%> </h3> 
    <br/>
    <a href='/stats/total/8'> <%= "#{Usager.where(dmde: false, date_dmde: (Date.parse(@dates.first.split('/').reverse.join('-')))..(Date.parse(@dates.last.split('/').reverse.join('-')))).count} demandes" %> </a>
    <br/>

  </div>

<% end %>