<footer class="navbar navbar-fixed-bottom navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right navbot">
        <% unless @current_user.nil? %>
          <li id="left-li"><%= link_to "#{@current_user.identifiant}", "/users/show/#{@current_user.id}" %></li>
          <li><%= link_to "Editer profil", "/users/edit/#{@current_user.id}" %></li>
          <li><%= link_to "Utilisateurs", users_path %></li>
          <li><%= link_to "Guide d'utilisation", guide_path %></li>
          <li><%= link_to "Listes", listes_path %></li>
          <li><%= link_to "Déconnexion", logout_path, method: "delete" %></li>

        <% end %>
      </ul>
    </nav>
  </div>
</footer>