<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right navtop">
        <li><%= link_to "Accueil",   root_path %></li>
        <% unless @current_user.nil? %>
          <li><%= link_to "Ajouter usager", '/usagers/new', "data-no-turbolink" => true %></li>
          <li><%= link_to "PQI", "/pqi" %></li>
          <li><%= link_to "Maraudes", "/maraudes" %></li>
          <li><%= link_to "Structures", "/structures" %></li>
          <li><%= link_to "Statistiques", "/stats" unless @current_user.benev? %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>